
    .main-header {
        background: #4db4b7 url("../../../assets/img/bg.png")  no-repeat scroll ;
        background-position: left top;
        background-size: cover;
        padding: 16px;
        // height: 86px !important;
        ion-row {
          ion-col {
            padding-left: 0;
          }
        }
        .logo-bar {
          position: relative;
          .logo {
            position: absolute;
            top: 10px;
            z-index: 999;
            width: 50px;
            left: 10px;
          }
         
          img.search-icon {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 20px;
          }
        }
   
        .menu {
          text-align: center;
          margin-top: 5px;
          ion-icon {
            font-size: 18px;
            color: #fff;
            border: 2px solid #fff;
            border-radius: 50px;
            padding: 5px;
          }
          p {
            color: #fff;
            font-size: 13px;
            margin: 0;
            margin-top: 5px;
            text-transform: uppercase;
            font-family: Gill-Sans-MT-Light;
            letter-spacing: 1px;
          }
        }
      }
      
         ion-toolbar {
        --background: transparent;
        background: transparent;
        ion-title {
          font-family: Braisetto-Bold;
          font-size: 32px;
          color: #fff;
          padding-left: 0px;
        }
        ion-back-button {
          --color: #fff !important;
          font-family: Gill-Sans-MT-Light;
          letter-spacing: 1px;
          --padding-start:0 !important;
          span.button-text {
            font-family: Gill-Sans-MT-Light;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }
      }

      
.top-slider {
    // position: absolute;
    // z-index: 999;
    // top: 14%;
    // padding: 0px;
  
    position: absolute;
    width: 100%;
    z-index: 99;
    // top: 15%;
    margin-top: -12%;
  }
  ion-slides {
    height: 100%;
    width: 100%;
    padding: 0 16px;
  
    .slide-item {
      position: relative;
      img {
        width: 100%;
        height: 90px;
      }
      h3 {
        font-size: 11px;
        position: absolute;
        bottom: 12px;
        z-index: 99;
        /* background: #fff; */
        text-align: center;
        padding: 10px 5px;
        width: 100%;
        text-transform: uppercase;
        color: #2f5a7b;
        margin: 0;
        background: rgba(255, 255, 255, 0.71);
      }
    }
  }
  
  .swiper-slide {
    display: block;
    margin: 0px 2px;
  }
  
  .swiper-slide img {
    max-height: 50%;
    max-width: 100% !important;
    margin: 0px 0px 0px;
    pointer-events: none;
  }

  

  .bottom-content {
    // margin-top: 8%;
    // margin-top: 85px;
    // padding: 16px;
    .title {
      margin: 20px 0;
      h3 {
        font-family: Braisetto-Bold;
        border-bottom: 2px dashed #2f5a7b;
        line-height: 52px;
        color: #2f5a7b;
        font-size: 36px;
      }
      p{
        font-size: 12px;
        text-align: center;
        font-family: "Gill Sans MT", "Lato", sans-serif;
        color: #2f5a7b;
        display: block;
        position: relative;
      }
    }
    .featured {
      ion-slides {
        height: 100%;
        width: 100%;
        padding: 0 0px;
        ion-slide{
          width: auto!important;
          max-width: 22vh !important;
        
          
        }
  
        .slide-item {
          position: relative;
         
          img {
            width: 100%;
          }
          h3 {
            position: unset;
            bottom: 15px;
            z-index: 99;
            background: rgba(255, 255, 255, 0.63);
            text-align: left;
            padding: 10px 5px;
            width: 100%;
            text-transform: uppercase;
            color: #2f5a7b;
            margin: 0;
            opacity: 1;
            font-weight: bold;
          }
        }
      }
    }
    .here-today {
      ion-slides {
        height: 100%;
        width: 100%;
        padding: 0 0px;
        .slide-item {
          position: relative;
          margin-bottom: 12px;
          img {
            width: 100%;
            height: 110px;
          }
          h3 {
            //  font-size: 10px;
            position: unset;
            bottom: 15px;
            z-index: 99;
            background: rgba(255, 255, 255, 0.63);
            text-align: left;
            padding: 10px 5px;
            width: 100%;
            text-transform: uppercase;
            color: #2f5a7b;
            margin: 0;
            opacity: 1;
            font-weight: bold;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
            height: 36px;
          }
          .price {
            margin: 0px;
            text-align: left;
             font-size: 13px;
             margin-left: 5px;
            color: #2f5a7b;
            font-weight: 600;
            margin-top: 10px;
          }
        }
      }
    }
  }