<ion-header class="main-header">
  <ion-toolbar>
      <ion-buttons slot="start" mode="md">
          <ion-back-button defaultHref="" mode="md" text="Back" icon="arrow-back"></ion-back-button>
      </ion-buttons>
      <ion-title mode="ios" class="ion-text-center">
          {{ 'Listings' | translate }}
      </ion-title>
      <ion-buttons slot="end" (click)="openSidemenu()">
          <!-- <ion-button (click)="goToSearch()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button> -->
          <div class="menu">
              <ion-icon name="menu"></ion-icon>
              <p>Menu</p>
          </div>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content padding>
 
  <div class="bottom-content">
    <div class="title">
        <h3 style="text-align: center;margin-top: 0px">{{sliderHeading}}</h3>
        <p class="description">{{sliderSubHeading}}</p>
    </div>
    <div class="featured"  *ngIf="subHeading">

        <ion-slides #today pager="false" [options]="slideOpts2">
            <ion-slide *ngFor="let prod of subHeading">
                <div class="slide" (click)="openListings(prod)">
                    <div class="slide-item">
                        <img [src]="prod.image" />
                        <h3 [innerHtml]="prod.title"></h3>
                        
                    </div>
                </div>
            </ion-slide>


        </ion-slides>

    </div>


    <div class="title">

        <h3>{{sectionHeading1}} </h3>
    </div>
    <div class="here-today">
        <ion-slides #today pager="false" [options]="slideOpts2">
            <ion-slide *ngFor="let prod of sliderSection1">

                <div class="slide" (click)="viewProduct(prod.id)">
                    <div class="slide-item">
                        <img [src]="prod.catimage" />
                        <h3 [innerHtml]="prod.title"></h3>
                        <p class="price">
                            £ <span [innerHTML]="prod.regular_price"></span>
                          </p>
                    </div>
                </div>
            </ion-slide>

        </ion-slides>
    </div>




    <div class="title">
        <h3>{{sectionHeading2}}</h3>
    </div>
    <div class="here-today">
        <ion-slides #today pager="false" [options]="slideOpts2">
            <ion-slide *ngFor="let prod2 of sliderSection2">
                <div class="slide" (click)="viewProduct(prod2.id)">
                    <div class="slide-item">
                        <img [src]="prod2?.catimage" />
                        <h3 [innerHtml]="prod2?.title"></h3>
                        <p class="price">
                            £ <span [innerHTML]="prod2?.regular_price"></span>
                          </p>
                    </div>
                </div>
            </ion-slide>

        </ion-slides>
    </div>






    <div class="title">
        <h3>{{sectionHeading3}}</h3>
    </div>
    <div class="here-today">
        <ion-slides #today pager="false" [options]="slideOpts2">
            <ion-slide *ngFor="let prod3 of sliderSection3">
                <div class="slide" (click)="viewProduct(prod3.id)">
                    <div class="slide-item">
                        <img [src]="prod3?.catimage" />
                        <h3 [innerHtml]="prod3?.title"></h3>
                        <p class="price">
                            £ <span [innerHTML]="prod3?.regular_price"></span>
                          </p>
                    </div>
                </div>
            </ion-slide>

        </ion-slides>
    </div>

    <div class="title" *ngIf="sectionHeading4">
        <h3>{{sectionHeading4}}</h3>
    </div>
    <div class="here-today"  *ngIf="sliderSection4"> 
        <ion-slides #today pager="false" [options]="slideOpts2">
            <ion-slide *ngFor="let prod4 of sliderSection4">
                <div class="slide" (click)="viewProduct(prod4.id)">
                    <div class="slide-item">
                        <img [src]="prod4?.catimage" />
                        <h3 [innerHtml]="prod4?.title"></h3>
                        <p class="price">
                            £ <span [innerHTML]="prod4?.regular_price"></span>
                          </p>

                    </div>
                </div>
            </ion-slide>
           
        </ion-slides>
    </div>

</div>
 
</ion-content>
