<!--
  Generated template for the Wishlist page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header class="main-header">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="" mode="md" text="Back" icon="arrow-back" ></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center">
            {{ 'Wishlist' | translate }}
        </ion-title>
        <ion-buttons slot="end" (click)="openSidemenu()">
            <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
            <div class="menu">
                <ion-icon name="menu"></ion-icon>
                <p>Menu</p>
            </div>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content class="commonbg">
    <div *ngIf="isEmpty" class="empty">
        <img src="assets/img/favorite.png">
        <h3>{{ 'Empty_Wishlist' | translate }}</h3>
        <ion-button round (click)="goHome()">{{ 'Let_us_shopping' | translate }}</ion-button>
    </div>
    <div *ngIf="!isEmpty">
        <ion-list>
            <ion-item *ngFor="let product of products" (click)="viewProduct(product.id)">
                <ion-thumbnail slot="start">
                    <img src="{{product.images[0].src}}">
                </ion-thumbnail>
                <ion-label text-wrap>
                    <ion-text>
                        <h2>{{product.name}}</h2>
                    </ion-text>
                    <ion-text color="secondary">
                        <p><span [innerHTML]="appConfig.Shop_Currency_format"></span>{{product.price}}</p>
                    </ion-text>
                    <ion-text color="secondary">
                        <p></p>
                    </ion-text>
                </ion-label>

                <ion-icon name="trash" color="danger" slot="end" (click)="deleteProduct(product)"></ion-icon>
            </ion-item>
        </ion-list>
    </div>
</ion-content>