app-page-wishlist {
  .empty {
    text-align: center;
    padding: 50px;
    ion-button {
        --background: #4db4b7;
        box-shadow: 4px 4px 5px #929292;
        border-radius: 8px;
        --border-radius: 8px;
        --background-activated: #4db4b7 !important;
        --background-focused: #4db4b7 !important;
        --background-hover: #4db4b7 !important;
    }
    h3 {
        font-size: 44px !important;
        font-family: Braisetto-Bold;
        color: #4db4b7;
    }
  }
  .dark {
    ion-content {
      --background: #000 !important;
    }
}
  .main-header {
    background: #4db4b7 url("../../../assets/img/bg.png")  no-repeat scroll ;
    background-position: left top;
    background-size: cover;
    padding: 16px;
    // height: 86px !important;
    ion-row {
      ion-col {
        padding-left: 0;
      }
    }
    .logo-bar {
      position: relative;
      .logo {
        position: absolute;
        top: 10px;
        z-index: 999;
        width: 50px;
        left: 10px;
      }
     
      img.search-icon {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
      }
    }
    
    .menu {
      text-align: center;
      margin-top: 5px;
      ion-icon {
        font-size: 18px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 5px;
      }
      p {
        color: #fff;
        font-size: 13px;
        margin: 0;
        margin-top: 5px;
        text-transform: uppercase;
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
      }
    }
  }
}