<!--
  Generated template for the Contact page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="" mode="md" text="Back" icon="arrow-back" (click)="close()"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center">
            Contact Us
        </ion-title>
        <ion-buttons slot="end" (click)="openSidemenu()">
            <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
            <div class="menu">
                <ion-icon name="menu"></ion-icon>
                <p>Menu</p>
            </div>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content padding class="commonbg" text-center>
    <div class="bottom-content">
        <div class="title">
            <h3>If you have any questions, please get in touch</h3>
        </div>
    </div>
    <div class="query">
        <form [formGroup]="queryForm">
            <ion-row>
                <ion-col size="6">

                    <div class="form-group">
                        <ion-item>
                            <ion-label position="floating">First Name <span style="color:red">*</span></ion-label>
                            <ion-input class="form-control" formControlName="firstName" type="text" required>
                            </ion-input>
                        </ion-item>
                    </div>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.firstName">
                            <div class="error-message"
                                *ngIf="queryForm.get('firstName').hasError(error.type) && (queryForm.get('firstName').dirty || queryForm.get('firstName').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
                <ion-col>
                    <div class="form-group">
                        <ion-item>
                            <ion-label position="floating">Last Name <span style="color:red">*</span></ion-label>
                            <ion-input class="form-control" formControlName="lastName" type="text" required></ion-input>
                        </ion-item>
                    </div>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.lastName">
                            <div class="error-message"
                                *ngIf="queryForm.get('lastName').hasError(error.type) && (queryForm.get('lastName').dirty || queryForm.get('lastName').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <div class="form-group">
                        <ion-item>
                            <ion-label position="floating">Email <span style="color:red">*</span> </ion-label>
                            <ion-input class="form-control" type="email" formControlName="email" required></ion-input>
                        </ion-item>
                    </div>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.email">
                            <div class="error-message"
                                *ngIf="queryForm.get('email').hasError(error.type) && (queryForm.get('email').dirty || queryForm.get('email').touched  || queryForm.get('email').pattren)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12">
                    <div class="form-group">
                        <ion-item>
                            <ion-label position="floating">Message<span style="color:red">*</span></ion-label>
                            <ion-input class="form-control" type="text" formControlName="message" required></ion-input>
                        </ion-item>
                    </div>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.message">
                            <div class="error-message"
                                *ngIf="queryForm.get('message').hasError(error.type) && (queryForm.get('message').dirty || queryForm.get('message').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>

            </ion-row>
            <ion-row class="query-button-row">
                <ion-col>
                    <ion-button class="query-button" [disabled]="!queryForm.valid" (click)="onSubmit()">Submit
                    </ion-button>
                </ion-col>
            </ion-row>

        </form>
    </div>

</ion-content>