page-order-list {
  ion-card-header {
    border-bottom: 1px solid lightgray;
    background: #4db4b7;
    color: #fff;
  }
  .bottom-border {
    border-bottom: 1px solid lightgray;
  }
  .main-header {
    background: #4db4b7 url("../../../assets/img/bg.png")  no-repeat scroll ;
    background-position: left top;
    background-size: cover;
    padding: 16px;
    // height: 86px !important;
    ion-row {
      ion-col {
        padding-left: 0;
      }
    }
    .logo-bar {
      position: relative;
      .logo {
        position: absolute;
        top: 10px;
        z-index: 999;
        width: 50px;
        left: 10px;
      }
     
      img.search-icon {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
      }
    }
    
    .menu {
      text-align: center;
      margin-top: 5px;
      ion-icon {
        font-size: 18px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 5px;
      }
      p {
        color: #fff;
        font-size: 13px;
        margin: 0;
        margin-top: 5px;
        text-transform: uppercase;
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
      }
    }
  }
}

.no-order-placed{
  margin: 16px;
  p{
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    color: #979393;
    padding: 20px;
    font-size: 14px;
    font-family: Gill-Sans-MT-Light;
    letter-spacing: 1px;
  }
}