<!--
  Generated template for the OrderList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="" mode="md" text="Back" icon="arrow-back" ></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center">
            {{ 'OrderList' | translate }}
        </ion-title>
        <ion-buttons slot="end" (click)="openSidemenu()">
            <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
            <div class="menu">
                <ion-icon name="menu"></ion-icon>
                <p>Menu</p>
            </div>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content class="commonbg">
    <ion-refresher style="z-index: 999" slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <!-- (click)="viewOrder(order.id)" -->
    <div class="no-order-placed" *ngIf="!orderList.length">
        <p>No Order Placed</p>
    </div>
   
    <ion-card *ngFor="let order of orderList"  (click)="viewOrder(order.id)">
        <ion-card-header>
            <ion-row>
                <ion-col>#{{ 'Order_ID' | translate }}:{{order.id}}</ion-col>
                <ion-col text-right>{{ 'Created' | translate }}:{{order.date_created | date:'dd/MM/yyyy'}}</ion-col>
            </ion-row>
        </ion-card-header>
        <ion-row padding>
            <ion-col>{{ 'Total' | translate }}:{{order.total}}</ion-col>
            <ion-col text-right>({{order.line_items.length}})items</ion-col>
        </ion-row>

        <ion-row padding>
            <ion-col>{{ 'Status' | translate }}:{{order.status | uppercase}}</ion-col>
            <ion-col text-right>
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>