app-page-product-details {
    ion-content {
        --padding-start: 0px;
        --padding-end: 0px;
        --padding-top: 0px;
        background: #e4e9ee !important;
    }
    ion-toolbar {
        --background: transparent;
        background: transparent;
        ion-title {
            font-family: Braisetto-Bold;
            font-size: 40px;
            color: #fff;
        }
        ion-back-button {
            --color: #fff !important;
            font-family: Gill-Sans-MT-Light;
            letter-spacing: 1px;
            --padding-start: 0 !important;
            span.button-text {
                font-family: Gill-Sans-MT-Light;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }
    .main-header {
        background: #4db4b7 url("../../../assets/img/bg.png") no-repeat scroll;
        background-position: left top;
        background-size: cover;
        padding: 16px;
        // height: 180px;
        ion-row {
            ion-col {
                padding-left: 0;
            }
        }
        .logo-bar {
            position: relative;
            .logo {
                position: absolute;
                top: 10px;
                z-index: 999;
                width: 50px;
                left: 10px;
            }
            ion-searchbar {
                border: 3px dashed #4db4b7;
                background: #fff;
                --border-radius: 0px;
                height: 60px;
                border-radius: 0;
                padding-top: 15px;
                padding-bottom: 15px;
                margin-top: 20px;
                .searchbar-input-container.sc-ion-searchbar-ios {
                    height: 65px;
                    background: transparent;
                    --background: transparent;
                }
            }
            img.search-icon {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 20px;
            }
        }
        .menu {
            text-align: center;
            margin-top: 5px;
            ion-icon {
                font-size: 18px;
                color: #fff;
                border: 2px solid #fff;
                border-radius: 50px;
                padding: 5px;
            }
            p {
                color: #fff;
                font-size: 13px;
                margin: 0;
                margin-top: 5px;
                text-transform: uppercase;
                font-family: Gill-Sans-MT-Light;
                letter-spacing: 1px;
            }
        }
    }
    .top {
        width: 100%;
        display: block;
        position: fixed;
    }
    ion-slides {
        position: relative;
        height: 250px;
        width: 100%;
    }
    ion-slides {
        background: white;
    }
    ion-slides img {
        height: 250px !important;
        width: 100%;
    }
    .addcart-info {
        font-size: 80px !important;
        margin-bottom: 5px;
        color: #4db4b7;
        text-align: center;
    }
    .dark-chip {
        background-color: #222;
        color: white;
    }
    .primary-chip {
        background-color: #fd5459;
        color: white;
    }
    .info .icon.ok :before {
        color: orange;
    }
    .info .icon.err :before {
        color: #4db4b7;
    }
    .top-img {
        height: 250px !important;
        width: 100%;
    }
    .item-header {
        background-color: #4db4b7;
        color: white;
    }
    .item-content {
        padding-top: 10px;
    }
    .pull-right {
        float: right;
    }
    .desc {
        font-size: 1rem;
        line-height: 1.6rem;
        padding: 16px;
        border: none !important;
        margin: 0;
        p {
            margin: 0;
        }
    }
    ion-chip {
        text-align: center;
        box-shadow: 2px 3px 4px #afafaf;
    }
    .wishlist-chip-button ion-chip {
        color: white;
        text-align: center;
    }
    .chip-button ion-chip {
        width: 100%;
    }
    .chip-button ion-chip.chip-enable {
        background-color: #fd5459;
        color: white;
        text-align: center;
        box-shadow: 2px 3px 4px #afafaf;
    }
    .chip-button ion-chip ion-label {
        width: 100%;
    }
    .text-on-bottom {
        flex-direction: column;
        position: relative;
        overflow: visible !important;
    }
    .text-on-bottom ion-badge {
        position: absolute;
        top: -5px;
        right: -5px;
        padding: 3px 8px 3px 6px;
    }
    .text-on-bottom ion-icon {
        font-size: 30px;
    }
    .text-on-bottom>.button-inner {
        flex-direction: column;
    }
    .pull-right {
        ion-icon[name="share"] {
            position: relative;
            top: 2px;
            right: 2px;
        }
    }
    //  .ios.main-header {
    //   height: 86px !important;
    // }
    .show-less {
        height: 188px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }
    .desc_sec {
        button {
            float: right;
            position: relative;
            top: 12px;
            margin-bottom: 12px;
            right: 12px;
            background: transparent;
            border: 0;
            color: #0cd1e8;
            font-size: 16px;
        }
        button:focus {
            outline: 0px;
        }
    }
    .vendor {
        text-align: center;
        /* color: #4db4b7; */
        margin-bottom: 0px;
        /* font-weight: 900; */
        color: #305b7b;
    }
    .header-ios ion-toolbar:last-child {
        --border-width: 0 0 0px !important;
    }
    ion-footer {
        background: #fff;
    }
    ion-footer {
        ion-chip {
            box-shadow: 2px 3px 4px #afafaf;
        }
    }
}

textarea.native-textarea.sc-ion-textarea-md {
    border: 1px solid #4db4b7;
}

ion-select.md.in-item.hydrated {
    width: 100%;
    position: absolute;
    right: 0;
}

ion-thumbnail.md.hydrated {
    border: 1px solid #cecaca;
    padding: 1px 1px 1px 1px;
}

ion-list-header {
    span {
        position: absolute;
        right: 3%;
        font-weight: 300;
        font-size: 2em;
        top: .7em;
    }
}