<!-- <ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'Product' | translate }}</ion-title>
    <ion-buttons *ngIf="org=='carttab'" end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="ios-close-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-header class="main-header">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="/" mode="md" text="Back" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center">
            {{ 'Product' | translate }}
        </ion-title>
        <ion-buttons slot="end" (click)="openSidemenu()">
            <div class="menu">
                <ion-icon name="menu"></ion-icon>
                <p>Menu</p>
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="product" class="product_details_sec">
        <ion-slides *ngIf="selVariation==null" pager autoplay="3000" loop class="product-detail-slider">
            <ion-slide *ngFor="let img of slideImages">
                <img src="{{img.src}}" />
            </ion-slide>
        </ion-slides>
        <ion-row *ngIf="selVariation!=null" class="top-img">
            <img src="{{variationImg}}" />
        </ion-row>
        <p class="vendor" (click)="shopname(product.store.vendor_id)">By : {{product.store.vendor_shop_name}}</p>
        <div padding>
            <h3 style="margin-top:0px;">{{product.name}}</h3>
            <div>
                <b #currencyFormat [innerHTML]="appConfig.Shop_Currency_format"></b><b>{{product.price}}</b>
                <del ng-show="product.regular_price > 0 && product.on_sale"></del>
                <span class="pull-right" (click)="share()">
                    <ion-icon name="share" style="color: #4db4b7"></ion-icon>
                    <b color="danger">Share</b>
                </span>
            </div>
        </div>
        <ion-list *ngIf="product.attributes.length>0">
            <ion-list-header class="item-header">
                {{ 'PRODUCT_Attributes' | translate }}
            </ion-list-header>
            <ion-item *ngFor="let attribute of product.attributes;" (click)="attributeSelected(attribute)">
                {{attribute.name}}<span slot="end">{{getSelectedOption(attribute.name)}}</span>
            </ion-item>
        </ion-list>
        <!-- {{product.description}} -->
        <ion-list id="desc" class="desc_sec" *ngIf="product && product.description.length">
            <ion-list-header class="item-header">
                {{ 'PRODUCT_DESCRIPTION' | translate }}
            </ion-list-header>
            <div [ngClass]="{'show-less': showShortDesciption}">
                <p id="prod-desc" class="desc">{{product.description}}</p>

            </div>
            <button type="button" (click)="alterDescriptionText()">
                {{ showShortDesciption ? 'Read more': 'Read less' }}
            </button>
            <!-- <ion-item id="prod-desc" class="desc" [innerHtml]="product.description"></ion-item> -->


        </ion-list>
        <div *ngIf="is_product_addons">
            <ion-list id="desc" class="desc_sec" *ngFor="let item of product_addons_data">
                <ion-list-header class="item-header" *ngIf="(item.required == 0 && item.price == 0) || (item.required == 0 && item.price != 0)">
                    {{item.name}}
                </ion-list-header>
                <ion-list-header class="item-header" *ngIf="item.required == 1 && item.price == 0">
                    {{item.name}} <span style="color:red">*</span>
                </ion-list-header>


                <ion-list-header class="item-header" *ngIf="item.required == 1 && item.price > 0">
                    {{item.name}} (+£{{item.price}} )<span style="color:red">*</span>
                </ion-list-header>

                <div *ngIf="item.type == 'custom_textarea' || item.type == 'custom_text' || item.type == 'custom_price'">
                    <ion-textarea name="item.name" [(ngModel)]="product_addons_question[item.name]"></ion-textarea>
                </div>

                <ion-item *ngIf="item.type == 'file_upload'">
                    <ion-thumbnail slot="start" *ngIf="img ==''">
                        <img src="assets/uploads.svg" (click)="uploadFile(item.name);">
                    </ion-thumbnail>
                    <ion-thumbnail slot="start" *ngIf="img !=''">
                        <img src="{{img}}" (click)="uploadFile(item.name);">
                    </ion-thumbnail>
                </ion-item>
                <div *ngIf="item.type == 'multiple_choice' && item.display == 'images'" class="images-display">
                    <ion-radio-group [(ngModel)]="product_addons_question[item.name]">
                        <ion-item *ngFor="let images of item.options">
                            <ion-thumbnail>
                                <img src="{{this.get_images_array[images.image]}}" class="{{images.image}}">
                            </ion-thumbnail>
                            <ion-radio slot="start" value="{{images.label}}"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </div>

                <ion-list *ngIf="item.type == 'checkbox'">
                    <ion-item *ngFor="let option of item.options" (click)="checkboxData(item.name,option.label);">
                        <ion-checkbox slot="start"></ion-checkbox>
                        <ion-label>{{option.label}} (+£{{option.price}} )</ion-label>
                    </ion-item>
                </ion-list>

                <ion-item *ngIf="item.type == 'multiple_choice' && item.display == 'select'">
                    <ion-label>Select</ion-label>
                    <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="product_addons_question[item.name]" mode="ios">
                        <ion-select-option value="">Select an option...</ion-select-option>
                        <ion-select-option value="{{option.label}}" *ngFor="let option of item.options">{{option.label}} (+£{{option.price}} )</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-list *ngIf="item.type == 'multiple_choice' && item.display == 'radiobutton'">
                    <ion-radio-group [(ngModel)]="product_addons_question[item.name]">
                        <ion-item *ngFor="let option of item.options">
                            <ion-label>{{option.label}} (+£{{option.price}} )</ion-label>
                            <ion-radio slot="start" value="{{option.label}}"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
                <!-- <ion-item id="prod-desc" class="desc" [innerHtml]="product.description"></ion-item> -->
            </ion-list>
        </div>
    </div>
</ion-content>
<ion-footer border-top>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-chip (click)="addWishlist()" class="wishlist-chip-button">
                    <ion-label></ion-label>
                    <ion-icon name="heart" [color]="isFav?'primary':'dark'"></ion-icon>
                    <ion-label></ion-label>
                </ion-chip>
                <ion-chip margin-left (click)="goToCart()">
                    <ion-icon name="cart" style="color: #4db4b7"></ion-icon>
                    <ion-label>{{cartProductNumber}}</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col size="6" class="chip-button">
                <ion-chip [class.chip-enable]="selVariation!=null || hasVariation==false" (click)="addCartClip()" style="background-color: #4db4b7">
                    <ion-label>{{ 'Add_to_cart' | translate }}</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>