<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="" mode="md" text="Back" icon="arrow-back" ></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            {{ 'Profile' | translate }}
        </ion-title>
        <ion-buttons slot="end" (click)="openSidemenu()">
            <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
            <div class="menu">
                <ion-icon name="menu"></ion-icon>
                <p>Menu</p>
            </div>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content class="commonbg">
    <div class="user-info-header" text-center padding-top>
        <div *ngIf="userService.isAuthenticated">
            <p>{{ 'Welcome' | translate }}
                <!-- {{userService.name}} -->
            </p>
            <!-- <p>{{userService.email}}</p> -->
        </div>
        <ion-button *ngIf="!userService.isAuthenticated" color="light" outline (click)="login()">Sign In</ion-button>
    </div>
    <div class="settings">
        <ion-list>
            <ion-item detail="true" (click)="openOrderList()">
                <ion-icon name="basket" style="color:#4db4b7" item-left></ion-icon>
                {{ 'My_Orders' | translate }}

            </ion-item>
        
                <ion-item detail="true" (click)="wishlist()">
                    <ion-icon name="heart" style="color:#4db4b7" item-left></ion-icon>
                    {{ 'Wishlist' | translate }}
    
                </ion-item>
            <!-- <ion-item detail="true" (click)="openEditAddress()">
                <ion-icon name="settings" style="color:#4db4b7" item-left></ion-icon>
                {{ 'Shipping_Address' | translate }}

            </ion-item> -->
            <ion-item detail="true" (click)="loginOut()" *ngIf="userService.isAuthenticated">
                <ion-icon name="log-out" item-left></ion-icon>
                {{ 'Log Out' | translate }}
            </ion-item>
        </ion-list>
    </div>
</ion-content>