app-page-profile{
  ion-content {
    background: #f8f8f8;
  }
  
  ion-header:after {
    background-image: none !important;
  }
  
  .user-info-header {
    height: 98px;
    background: #4db4b7;
    border-radius: 0 0 100% 100%;
    color: white;
  }
  
  .avatar{
    width: 10vh;
    height: 10vh;
    border: 2px white solid;
    border-radius: 50%;
  }
  
  
  .settings {
    width: 95%;
    display: block;
    margin: 4rem auto;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 0.5rem;
  }
  
  .settings ion-list[inset] {
    margin: 0;
  }
  
  .settings ion-list[inset] .item {
    border-bottom: 1px solid #f3f3f3;
    padding: 6px 0px 0px 14px;
  }
  
  .settings ion-icon[item-left] {
    color: #4db4b7;
    //font-size: 3rem;
  }
  
  .settings h2 {
    color: #333947;
    
    // font-size: 1.5rem;
  }
  
  .settings h4[item-right] {
    color: #ff5c61;
    padding-right: 1rem;
  }
  
  .settings ion-icon[item-right] {

    color: #8d969d;
    // font-size: 2rem;
    margin-right: 0;
    margin-top: 1.3rem;
  }
  ion-toolbar {
    --background: transparent;
    background: transparent;
    ion-title {
      font-family: Braisetto-Bold;
      font-size: 40px;
      color: #fff;
      padding-left: 0px;
    }
    ion-back-button {
      --color: #fff !important;
      font-family: Gill-Sans-MT-Light;
      letter-spacing: 1px;
      --padding-start:0 !important;
      span.button-text {
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

.main-header {
  background: #4db4b7 url("../../../assets/img/bg.png")  no-repeat scroll ;
  background-position: left top;
  background-size: cover;
  padding: 16px;
  height: 86px;
  ion-row {
    ion-col {
      padding-left: 0;
    }
  }
  .logo-bar {
    position: relative;
    .logo {
      position: absolute;
      top: 10px;
      z-index: 999;
      width: 50px;
      left: 10px;
    }
   
    img.search-icon {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 20px;
    }
  }
  
  .menu {
    text-align: center;
    margin-top: 5px;
    ion-icon {
      font-size: 18px;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 50px;
      padding: 5px;
    }
    p {
      color: #fff;
      font-size: 13px;
      margin: 0;
      margin-top: 5px;
      text-transform: uppercase;
      font-family: Gill-Sans-MT-Light;
      letter-spacing: 1px;
    }
  }
}

.settings {
  ion-item {
    ion-icon {
      margin-right: 12px;
    }
  }
}
}
