app-page-listings {
    ion-grid ion-row {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    ion-grid ion-row ion-col .card {
        overflow: hidden;
        font-size: 0.9em;   
        height: 260px;
    }
    .card .price{
      color: #4db4b7;
      font-weight: 600;
      margin-top: 10px;
    }

    ion-grid ion-row ion-col .card img {
        width: 100%;
        height: 180px;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    ion-grid ion-row ion-col .card .title {
      // display: -webkit-box;
      // -webkit-box-orient: vertical;
      // -webkit-line-clamp: 3;
      // overflow: hidden;
      white-space: nowrap;
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    } 

    .padding-xs {
        padding: 10px;
    }

    .card.round {
        overflow: hidden;
    }

    .round {
        border-radius: 5px;
    }

    .card {
        background: #FFF;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    .badge {
        position: relative;
        z-index: 3;

    }

    .badge>span {
        position: absolute;
        top: 5px !important;
        right: 5px !important;
        display: block;
        background: #ccc;
        color: white;
        padding: 0 3px 0 10px;
        font-size: 10px;
        text-transform: uppercase;
        line-height: 22px;
        height: 20px !important;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-bottom: 5px;
        text-align: center;
    }

    .badge>span:before {
        border-right-color: #cccccc;
        content: "";
        float: left;
        position: absolute;
        top: 0;
        left: -10px;
        width: 0;
        height: 0;
        border-color: transparent #ccc transparent transparent;
        border-style: solid;
        border-width: 10px 10px 10px 0;
    }

    .badge>span:after {
        content: "";
        position: absolute;
        top: 7px;
        left: 0px;
        float: left;
        width: 7px;
        height: 7px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: #fff;
    }

    .badge>span.sale:before {
        border-right-color: orange;
        border-color: transparent orange transparent transparent;
    }

    .badge>span.sale {
        background: orange;
    }

    .badge>span.sale:after {
        background: white;
    }

    .badge>span.sold:before {
        border-right-color: mediumseagreen;
        border-color: transparent mediumseagreen transparent transparent;
    }

    .badge>span.sold {
        background: mediumseagreen;
    }

    .badge>span.sold:after {
        background: white;
    }


    .main-header {
      background: #4db4b7 url("../../../assets/img/bg.png")  no-repeat scroll ;
      background-position: left top;
      background-size: cover;
      padding: 16px;
      // height: 86px !important;
      ion-row {
        ion-col {
          padding-left: 0;
        }
      }
      .logo-bar {
        position: relative;
        .logo {
          position: absolute;
          top: 10px;
          z-index: 999;
          width: 50px;
          left: 10px;
        }
       
        img.search-icon {
          position: absolute;
          right: 20px;
          top: 20px;
          width: 20px;
        }
      }
 
      .menu {
        text-align: center;
        margin-top: 5px;
        ion-icon {
          font-size: 18px;
          color: #fff;
          border: 2px solid #fff;
          border-radius: 50px;
          padding: 5px;
        }
        p {
          color: #fff;
          font-size: 13px;
          margin: 0;
          margin-top: 5px;
          text-transform: uppercase;
          font-family: Gill-Sans-MT-Light;
          letter-spacing: 1px;
        }
      }
    }
    
       ion-toolbar {
      --background: transparent;
      background: transparent;
      ion-title {
        font-family: Braisetto-Bold;
        font-size: 32px;
        color: #fff;
        padding-left: 0px;
      }
      ion-back-button {
        --color: #fff !important;
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
        --padding-start:0 !important;
        span.button-text {
          font-family: Gill-Sans-MT-Light;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }
    .sorting {
      ion-select {
        border: 1px solid #4db4b7;
        border-radius: 8px;
        padding-left: 12px;
        padding-right: 6px;
        font-size: 14px;
      }
      ion-col[size="1"] {
          margin: auto;
          text-align: center;
          ion-icon[name="swap"] {
            transform: rotate(
        90deg
        );
            font-size: 26px;
            color: #4db4b7;
        }
      }
  }
}

  
  
  