<!--
  Generated template for the Listings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="" mode="md" text="Back" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center">
            {{ 'Listings' | translate }}
        </ion-title>
        <ion-buttons slot="end" (click)="openSidemenu()">
            <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
            <div class="menu">
                <ion-icon name="menu"></ion-icon>
                <p>Menu</p>
            </div>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content class="commonbg">
    <ion-refresher style="z-index: 999" slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid>
        <!-- <form [formGroup]="editForm" autocomplete="off"> -->
        <ion-row class="sorting">
           
            <ion-col size="12">
                <ion-select [(ngModel)]="selected" (ionChange)="ionChange()">
                    <ion-select-option value="defult" selected>Default sorting</ion-select-option>
                    <ion-select-option value="popularity">Sort by popularity</ion-select-option>
                    <ion-select-option value="rating">Sort by average rating</ion-select-option>
                    <ion-select-option value="date">Sort by latest</ion-select-option>
                    <ion-select-option value="price-desc">Sort by price: low to high</ion-select-option>
                    <ion-select-option value="price">Sort by price: high to low</ion-select-option>
                  </ion-select>
            </ion-col>
            <!--ion-col size="1">
                <ion-icon name="swap" (click)="swap()"></ion-icon>
            </ion-col-->
        </ion-row>
   
        <ion-row>
            <ion-col size="6" *ngFor="let product of products">
                <div class="card round" (click)="viewProduct(product.id)">
                    <!-- <div class="badge" *ngIf="product.on_sale">
            <span class="sale">OnSale</span>
          </div> -->
                    <img [src]="product.img" alt="">
                    <div class="padding-xs">
                        <div class="title" [innerHTML]="product.title"></div>
                        <div class="price">
                            £ <span [innerHTML]="product.regular_price"></span>
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        
<!-- </form> -->
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>