app-page-vendor-store {
  ion-header:after {
    background-image: none !important;
  }

  .shop-name {
    text-transform: capitalize;
    color: white !important;
    font-size: 12px;
    z-index: 10;
  }

  ion-header .toolbar-background {
    border: none !important;
  }

  .user-info-header {
    position: relative;
    height: 140px;
    background: var(--ion-color-danger); //border-radius: 50% / 10%;
    //border-top-left-radius: 0;
    //border-top-right-radius: 0;
    // border-bottom-left-radius: 50% 10%;
    // border-bottom-right-radius: 50% 10%;
    color: white;
  }

  .user-info-header .overlay {
    background: rgba(0, 0, 0, 0.5);
    //opacity: 0.3;
    height: 140px;
    width: 100%;
  }

  .user-info-header img {
    width: 64px;
    height: 64px;
    border: 1px white solid;
    background-color: white;
    border-radius: 50%;
    position: relative;
    display: inline-block;
  }

  ion-grid ion-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  ion-grid ion-row ion-col .card {
    overflow: hidden;
    font-size: 0.9em;
  }

  ion-grid ion-row ion-col .card img {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  ion-grid ion-row ion-col .card .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .padding-xs {
    padding: 10px;
    text-align: center;
  }

  .card.round {
    overflow: hidden;
  }

  .round {
    border-radius: 5px;
  }

  .card {
    background: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .badge {
    position: relative;
    z-index: 3;
  }

  .badge>span {
    position: absolute;
    top: 5px !important;
    right: 5px !important;
    display: block;
    background: #ccc;
    color: white;
    padding: 0 3px 0 10px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 22px;
    height: 20px !important;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 5px;
    text-align: center;
  }

  .badge>span:before {
    border-right-color: #cccccc;
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-color: transparent #ccc transparent transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
  }

  .badge>span:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0px;
    float: left;
    width: 7px;
    height: 7px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
  }

  .badge>span.sale:before {
    border-right-color: orange;
    border-color: transparent orange transparent transparent;
  }

  .badge>span.sale {
    background: orange;
  }

  .badge>span.sale:after {
    background: white;
  }

  .badge>span.sold:before {
    border-right-color: mediumseagreen;
    border-color: transparent mediumseagreen transparent transparent;
  }

  .badge>span.sold {
    background: mediumseagreen;
  }

  .badge>span.sold:after {
    background: white;
  }

  ins {
    text-decoration: none;
    color: red;
  }
}