<!--
  Generated template for the VendorStore page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'Vendor_Store' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="changeShwoType()">
                <ion-icon name="{{showType}}"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="commonbg">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="vendor!=null">
        <div class="user-info-header" [style.background-image]="'url(' + vendor.banner + ')'" text-center>

            <div class="overlay">
                <img src="{{vendor.shop_logo!=false?vendor.shop_logo:'assets/img/sowuser_place_holder.png'}}"
                    margin-top>
                <div class='shop-name'>{{vendor.shop_name}}</div>
            </div>
        </div>
        <ion-grid margin-top *ngIf="showType=='grid'">
            <ion-row>
                <ion-col size="6" *ngFor="let product of vendor.products">
                    <div class="card round" (click)="viewProduct(product.id)">
                        <img src="{{product.image.url }}" alt="">
                        <div class="padding-xs" text-center>
                            <div class="title">{{ product.name}}</div>
                            <div><span [innerHTML]="appconfig.Shop_Currency_format"></span>{{product.price}}</div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-list *ngIf="showType=='list'" margin-top>
            <ion-item *ngFor="let product of vendor.products" (click)="viewProduct(product.id)" details>
                <ion-thumbnail slot="start">
                    <img src="{{product.image.url }}">
                </ion-thumbnail>
                <ion-label text-wrap>
                    <ion-text>{{ product.name}}</ion-text>
                    <ion-text>
                        <p><span [innerHTML]="appconfig.Shop_Currency_format"></span>{{product.price}}</p>

                    </ion-text>

                </ion-label>


            </ion-item>
        </ion-list>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>