app-page-thanks {
    ion-header {
        ion-toolbar {
            ion-title {
              text-align: center;
              padding-top: 12px;
            }
        }
    }

    .btn_sec {
        text-align: center;
        ion-button {
          max-width: 70%;
          width: 100%;
          margin: auto;
          margin-top: 22px;
          --background: #4ab6b6;
          --border-radius: 10px;
        }
      }

      ion-grid{
          display: table;
          width: 100%;
          height: 100%;
          .thanks_content{
           display: table-cell;
           width: 100%;
           height: 100%;
           vertical-align: middle;
          }
      }
}
