<!--
  Generated template for the Thanks page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'Thanks' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding text-center>
    <ion-grid *ngIf="isShow">
        <ion-row class="thanks_content">
            <ion-col size="12" class="content_sec">
                <span class="fa fa-thumbs-up fa-6"></span>
                <h4>{{ 'Thanks' | translate }}<br>{{ 'Order_Success_Note' | translate }}</h4>
                <p align="center">{{ 'Order_ID_Note' | translate }}<b>#{{id}}.</b>
                    <br>{{ 'Order_Total_Note' | translate }}<b
                        [innerHTML]="appConfig.Shop_Currency_format"></b><b>{{total}}</b>.
                </p>
                <p align="center">{{ 'Order_Paymethod_Note' | translate }}<span
                        style="text-transform: uppercase;">{{pay_type}}.</span></p>
            </ion-col>
            <ion-col size="12" class="btn_sec">
                <ion-button (click)="goHome()">{{ 'Go_Home' | translate }}</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>