<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-searchbar [(ngModel)]="myInput" placeholder="Search">
        </ion-searchbar>
        <ion-buttons slot="end">
            <ion-button (click)="onSearch()">{{ 'Search' | translate }}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="noResult" class="empty">
        <h3>{{ 'No_Results' | translate }}</h3>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let product of products">
                <div class="card round" (click)="viewProduct(product.id)">
                    <div class="badge" *ngIf="product.on_sale">
                        <span class="sale">OnSale</span>
                    </div>
                    <img src="{{ product.images[0].src }}" alt="">
                    <div class="padding-xs" text-center>
                        <div class="title">{{ product.name}}</div>
                        <div>{{ product.regular_price }}</div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>