<!--
  Generated template for the Contact page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        defaultHref=""
        mode="md"
        text="Back"
        icon="arrow-back"
        (click)="close()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" class="ion-text-center">
    Learn More
    </ion-title>
    <ion-buttons slot="end" (click)="openSidemenu()">
      <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
      <div class="menu">
        <ion-icon name="menu"></ion-icon>
        <p>Menu</p>
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="content_learn">
    <ion-col size="12">
      <h5>Who can sell on TBCH</h5>

      <p>
      <li>TBCH is for artisans living in the UK and making their own designs.</li>
      <li>No vintage.</li>
      <li>No reselling.</li>
     <li>Upcycling is permitted but only if the item is significantly altered from the original.</li> 
      <li>No supplies.</li>
      <li>We aim to be the “go to” site for gift buying, where shoppers can know with confidence that they are buying genuinely
        handmade, quality items and supporting UK crafters.</li></p>
      <p>We realise that there are different interpretations of what is considered to be ‘handmade’. We ask that there be an
        element of original thought behind a design so would not accept assembled cards/jewellery etc.</p>
    
     <p>We ask that you price your designs appropriately so as to place proper worth on the design and skill it takes to
      produce your work. We welcome sellers who are making for a living, or use crafting as a relaxing hobby as long as
      designs are given their true value.</p>
      
      <h5>Application Process</h5>
    
     <p> We have an application process because we want to keep standards high and be proud for any of our items to be
      displayed on the front page. This does mean that some sellers won’t be accepted on their initial application but we
      will try to feedback the reasons and you are more than welcome to reapply.
    </p>
      <h5>Monthly Plans
      </h5>
     <p> We realise that sometimes flexibility is needed and circumstances change which is why you are able to sign up monthly
      for your shop to be live.</p>
    
      <h5>Annual Plans</h5>
    
      <p>We do however appreciate commitment to TBCH and for sellers in a position to sign for a year we offer a discount as
        this really helps us to get to know you and to get your shops seen and your work sold!
      </p>
      <p>We offer a range of packages so that we can help small start up businesses as well as established ones and people
        trying to upscale too!
      </p>
      <h5>What Makes Us Different?</h5>
    
     <p>We are showcasing the Best of British Crafts – hand picking artisans for their originality and high quality. As an
      application based site we will not have a plethora of shops selling similar items. We want you to be seen and to
      delight shoppers with your products.</p> 
    
      <p>We have a Social Media following of over 110K which will enable us to get you seen much further than you would be able
        to yourself.</p>
    
      <p>Having had my own website and having been a seller on most of the popularly used handmade sites since 2009 I am
        acutely aware of both the good and the not so good parts of them. I hope to bring together the best parts that they
        offer with new and exciting ideas to get your work seen and most importantly sold!</p>
    </ion-col>
  </ion-row>
</ion-grid>
  
</ion-content>