.content_learn {
    h5 {
        margin-bottom: 25px;
        position: relative;
        font-weight: 600;
    }
    h5:after {
        content: "";
        position: absolute;
        border-bottom: 4px solid #4db4b7;
        bottom: -8px;
        width: 75px;
        left: 0;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        color: #3c3c3c;
        text-align: justify;
    }
}


.main-header {
    background: #4db4b7 url("/assets/img/bg.png")  no-repeat scroll ;
    background-position: left top;
    background-size: cover;
    padding: 16px;
    // height: 86px;
    ion-row {
      ion-col {
        padding-left: 0;
      }
    }
    .logo-bar {
      position: relative;
      .logo {
        position: absolute;
        top: 10px;
        z-index: 999;
        width: 50px;
        left: 10px;
      }
     
      img.search-icon {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
      }
    }
    
    .menu {
      text-align: center;
      margin-top: 5px;
      ion-icon {
        font-size: 18px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 5px;
      }
      p {
        color: #fff;
        font-size: 13px;
        margin: 0;
        margin-top: 5px;
        text-transform: uppercase;
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
      }
    }
  }

     ion-toolbar {
    --background: transparent;
    background: transparent;
    ion-title {
      font-family: Braisetto-Bold;
      font-size: 40px;
      color: #fff;
      padding-left: 0px;
    }
    ion-back-button {
      --color: #fff !important;
      font-family: Gill-Sans-MT-Light;
      letter-spacing: 1px;
      --padding-start:0 !important;
      span.button-text {
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .bottom-content{
    .title{
h3
  {
    font-family: Braisetto-Bold;
    border-bottom: 2px dashed #2f5a7b;
    line-height: 52px;
    color: #2f5a7b;
    font-size: 27px;
}
  }
}

 .query-button{
  width: 100%;
    border-radius: 23px;
    --background: #4db4b7;
    color: #fff;
    font-size: 17px;
    font-family: Gill-Sans-MT-Light;
    font-weight: 900;
    --border-radius: 30px;
    --box-shadow: 0px 0px 0px !important;
}
.query{
  margin-top: 50px;
}
.query-button-row{
  margin-top: 20px;
}
.error-messages{
  text-align: left;
  font-size: 13px;
  margin-left: 2px;
  margin-top: 5px;
  color: red;
}

ion-grid {
  max-width: 95%;
  width: 100%;
  margin: auto;
}