ion-tab-bar {
    --background: #4db4b7;
    background: #4db4b7;
    --border: 0px;
    padding: 10px;
    height: 60px;
    ion-icon {
        color: #fff;
    }
    img{
        width:35px;
    }
    ion-label{
        color: #fff;
        font-size: 14px;
        line-height: 32px;
        letter-spacing: 1px;
        font-family: Gill-Sans-MT-Light;
        text-transform: capitalize;
    }
}
