<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="onHome()">
            <!-- <div (click)="onHome()"> -->
                <!-- <ion-icon name="home"></ion-icon> -->
                <img src="../../../assets/img/icon-1.png">
                <ion-label>Home</ion-label>
            <!-- </div> -->
        </ion-tab-button>

        <ion-tab-button tab="home">
            <!-- <ion-icon name="list"></ion-icon> -->
            <img src="../../../assets/img/icon-2.png">
            <ion-label>Shop List</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button tab="store">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button> -->

        <ion-tab-button tab="cart">
            <!-- <ion-icon name="cart"></ion-icon>0 -->
            <img src="../../../assets/img/icon-3.png">
            <ion-label>Cart</ion-label>
        </ion-tab-button>


        <ion-tab-button *ngIf="isSigin; else notlogin" tab="my">
            <!-- <ion-icon name="person"></ion-icon> -->
            <img src="../../../assets/img/icon-4.png">
            <ion-label>Profile</ion-label>
        </ion-tab-button>
        <ng-template #notlogin >
            <ion-tab-button (click)="signin_con()">
                <!-- <ion-icon name="person"></ion-icon> -->
                <img src="../../../assets/img/icon-4.png">
                <ion-label >Profile</ion-label>
            </ion-tab-button>
        </ng-template>
        
    </ion-tab-bar>

</ion-tabs>