<!--
  Generated template for the SearchVendor page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-searchbar [(ngModel)]="myInput" placeholder="Search" (search)="myOnSearch($event)">
        </ion-searchbar>
        <ion-buttons slot="end">
            <button ion-button color="white" (click)="onSearch()">{{ 'Search' | translate }}</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="noResult" class="empty">
        <h3>{{ 'No_Results' | translate }}</h3>
    </div>
    <ion-list>
        <ion-item *ngFor="let vendor of vendors" (click)="vendorSelected(vendor)">
            <ion-avatar item-left>
                <img src="{{vendor.gravatar!=false?vendor.gravatar:'assets/img/sowuser_place_holder.png'}}">
            </ion-avatar>
            <h2>{{ vendor.store_name }}</h2>
            <h3 *ngIf="vendor.first_name!='' && vendor.last_name!=''" class='shop-user-text'>
                {{ vendor.first_name+' '+ vendor.last_name}}'{{ 'Vendor_Shop' | translate }}
            </h3>
            <ion-icon name="arrow-forward" item-right></ion-icon>
        </ion-item>

    </ion-list>
</ion-content>