<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        defaultHref=""
        mode="md"
        text="Back"
        icon="arrow-back"
        
      ></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" class="ion-text-center">
    About Us
    </ion-title>
    <ion-buttons slot="end" (click)="openSidemenu()">
      <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
      <div class="menu">
        <ion-icon name="menu"></ion-icon>
        <p>Menu</p>
      </div>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<!-- <ion-content padding class="commonbg" text-center>
  <div><img src="{{appConfig.Logo_Image}}"></div>
  <p>{{appConfig.Introduction}}</p>
  <p><b>Address</b><br>{{appConfig.Address1}}<br>{{appConfig.Address2}}</p>
  <p>{{appConfig.CopyRight}}
  </p>
</ion-content> -->