<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header_new">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button mode="md" text="Back" icon="arrow-back" *ngIf="isBackButton" routerLink="/main">
            </ion-back-button>
            <p *ngIf="isModelShow" (click)="onskip()" class="skip_text">{{ 'Login_Skip' | translate }}>></p>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center">
            SignIn
        </ion-title>
        
    </ion-toolbar>
</ion-header>
<ion-content class="login">
    <ion-grid class="header ion-no-padding">
        <form [formGroup]="loginInfo">
        <!-- <img src="assets/img/bg.png" class="cover_bg"> -->
        <ion-row class="logo_img">
            <ion-col size="12">
                <img src="assets/img/logo.webp" class="logo-img">
            </ion-col>
        </ion-row>
        <ion-list class="user_list">
            <div class="form-group">
                <ion-item>

                    <ion-icon name="ios-mail"></ion-icon>
                    <ion-label>
                        <ion-input placeholder="{{ 'Email' | translate }}" class="form-control"
                            formControlName="email" type="email" required></ion-input>
                    </ion-label>

                </ion-item>
            </div>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.email">
                    <div class="error-message"
                        *ngIf="loginInfo.get('email').hasError(error.type) && (  loginInfo.get('email').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </div>
            <div class="form-group">
                <ion-item>

                    <ion-icon [name]="!fieldTextType  ? 'eye' : 'eye-off' " (click)="toggleFieldTextType()">
                    </ion-icon>
                    <ion-label>
                        <ion-input placeholder="{{ 'Password' | translate }}" class="form-control"
                            formControlName="password" [type]="fieldTextType ? 'text' : 'password'"
                            required></ion-input>
                    </ion-label>

                </ion-item>
            </div>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                    <div class="error-message"
                        *ngIf="loginInfo.get('password').hasError(error.type) && (loginInfo.get('password').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </div>
        </ion-list>

        <ion-row class="forgot_sec">
            <ion-col size="12">
                <span (click)="forgot()">Forgot password?</span>
            </ion-col>
        </ion-row>
        <ion-row class="btn_sec">
            <ion-col size="12">
                <ion-button (click)="doLogin()">{{ 'Sign_In' | translate }}</ion-button>
                <ion-button (click)="doRegister()">{{ 'Sign_Up' | translate }}</ion-button>
            </ion-col>
        </ion-row>


</form>
    </ion-grid>
</ion-content>