app-page-login{
  .main-header_new {
    background: #4db4b7 url("../../../assets/img/bg.png")  no-repeat scroll ;
    background-position: left top;
    background-size: cover;
    padding: 16px;
    // height: 86px !important;
    ion-row {
      ion-col {
        padding-left: 0;
      }
    }
    .logo-bar {
      position: relative;
      .logo {
        position: absolute;
        top: 10px;
        z-index: 999;
        width: 50px;
        left: 10px;
      }
     
      img.search-icon {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
      }
    }
    
    .menu {
      text-align: center;
      margin-top: 5px;
      ion-icon {
        font-size: 18px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 5px;
      }
      p {
        color: #fff;
        font-size: 13px;
        margin: 0;
        margin-top: 5px;
        text-transform: uppercase;
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
      }
    }
  }
  
     ion-toolbar {
    --background: transparent;
    background: transparent;
    ion-title {
      font-family: Braisetto-Bold;
      font-size: 32px;
      color: #fff;
      padding-left: 0px;
      padding-right: 0;
    }
    ion-back-button {
      --color: #fff !important;
      font-family: Gill-Sans-MT-Light;
      letter-spacing: 1px;
      --padding-start:0 !important;
      span.button-text {
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
  .acc1{
    color:black;
    font-weight:600;
  }
  
  .main-header_new {
    ion-title {
      padding-right: 0;
    }
  }

  ion-col[size="2"] {
    text-align: right;
}
    ion-label {
        min-width: 25px;
      }
  .header p {
    color: #8a949d;
    float: right;
    margin-right: -2rem;
    margin-top: 1rem;
  }
  
  .header img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  
   form {
    width: 96%;
    // margin-left: 2rem;
    margin: auto;
  }

   .logo-img {
    max-width: 130px;
    height: auto;
    width: 100%;
  }
  .user_list {
    max-width: 90%;
    width: 100%;
    margin: auto;
    ion-icon {
      color: #4ab6b6;
      margin-right: 12px;
    }
    ion-label {
      width: 100% !important;
      max-width: 100% !important;
      pointer-events: auto !important;
      margin-bottom: 0;
      margin-top: 2px;
  }
  ion-item {
    --padding-start: 0px;
    --inner-padding-end: 0;
  }



  
  }
  
  .btn_sec {
    text-align: center;
    ion-button {
      max-width: 70%;
      width: 100%;
      margin: auto;
      margin-top: 22px;
      --background: #4ab6b6;
      --border-radius: 10px;
    }
  }
  .header {
    display: table;
    width: 100%;
    height: 100%;
    form{
      width: 96%;
      margin: auto;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      .logo_img {
        margin-top: 0px;
    }
    }  
}
p.skip_text {
    color: #fff;
}
} 


p.skip_text {
  margin-left: 16px;
}
.error-message{
    color:red
  }
  
  .error-messages {
    position: relative;
    margin-top: 8px;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .header-md .md.title-md{
    line-height: 50px !important;
    }

    .forgot_sec {
        text-align: right;
        font-size: 14px;
        margin-right: 15px;
        color: #4ab6b6;
        span{
          font-weight: 600;
        }
  }
  .skip_text:focus {
    outline: 0;
}