<ion-app>
    <ion-menu type="overlay" side="end" contentId="main">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item menuClose (click)="goMain()">
                    <ion-icon mode="md" name="home"></ion-icon>
                    Home
                </ion-item>
                <ion-item menuClose (click)="goHome()">
                    <ion-icon mode="md" name="pricetag"></ion-icon>
                    Shop Now
                </ion-item>
                <ion-item menuClose (click)="cart()">
                    <ion-icon mode="md" name="cart"></ion-icon>
                    Cart
                </ion-item>

                <ion-item menuClose (click)="modalContact()">
                    <ion-icon mode="md" name="call"></ion-icon>
                    Contact Us
                </ion-item>
                <ion-item menuClose (click)="modalFaq()">
                    <ion-icon mode="md" name="information-circle"></ion-icon>
                    FAQ
                </ion-item>
                <ion-item (click)="openWebpage()">
                    <ion-icon mode="md" name="mail"></ion-icon>
                    Apply to Sell
                </ion-item>
                <ion-item menuClose *ngIf="isSigin" (click)="signin_con()">
                    <ion-icon mode="md" name="contact"></ion-icon>
                    <!-- <ion-icon name="call-outline"></ion-icon> -->
                    Sign-In
                </ion-item>
                <ion-item *ngIf="isLogOut" menuClose (click)="logout()">
                    <img src="assets/img/log-out.svg" style="width: 10%; margin-right: 8px" />
                    <!-- <ion-icon name="ios-log-out"></ion-icon> -->
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main" main></ion-router-outlet>
</ion-app>