<!-- <ion-header>
  <ion-toolbar>
    <div class="main-header">
      <ion-row>
        <ion-col size="10">
          <div class="logo-bar">
            <img src="assets/img/logo.webp" class="logo">
            <ion-searchbar mode="ios" placeholder="Search on The British Craft House"></ion-searchbar>
            <img src="assets/img/search.png" class="search-icon"/>
         </div>
        </ion-col>
        <ion-col size="2">
          <div class="menu">
            <ion-icon name="menu"></ion-icon>
            <p>Menu</p>
          </div>
        </ion-col>
      </ion-row>
      
   </div>
   <div class="top-slider">
    <ul>
      <li>
        <div class="slide-item">
          <img src="assets/img/s1.png"/>
          <h3>Home & interiors</h3>
        </div>
      </li>
      <li>
        <div class="slide-item">
          <img src="assets/img/s2.png"/>
          <h3>Home & interiors</h3>
        </div>
      </li>
      <li>
        <div class="slide-item">
          <img src="assets/img/s1.png"/>
          <h3>Home & interiors</h3>
        </div>
      </li>
    </ul>
  </div>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-refresher
    style="z-index: 999"
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="main-header">
    <ion-row>
      <ion-col size="10">
        <div class="logo-bar">
          <img src="assets/img/logo.webp" class="logo" />
          <ion-searchbar
            mode="ios"
            placeholder="Search on The British Craft House"
            searchIcon="none"
            [value]="searchInput"
            (ionInput)="onSearch($event.target.value)"
            (ionClear)="clearSearch()"
          ></ion-searchbar>
          <img
            src="assets/img/search.png"
            *ngIf="!searchInput.length"
            class="search-icon"
          />
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="menu" (click)="openSidemenu()">
          <ion-icon name="menu"></ion-icon>
          <p>Menu</p>
        </div>
      </ion-col>
      <ion-col size="12" *ngIf="searchProducts.length">
        <div class="search-result-div">
          <ion-item *ngFor="let prod of searchProducts" (click)="viewProduct(prod.id)">
            <ion-thumbnail slot="start">
              <img [src]="prod.images[0].src" />
            </ion-thumbnail>
            <ion-label
              >{{prod.name}}
              <p [innerHTML]="prod.price_html"></p>
            </ion-label>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <!-- <div style="height:100px" *ngIf="searchInput.length"></div> -->

  <div class="top-slider" id="main-page-top-slider">
    <ion-slides #itemSlide pager="false" [options]="slideOpts" >
      <ion-slide  *ngFor="let prod of slideRow">
        <div class="slide">
          <div class="slide-item">
            <img [src]="prod?.image" />
            <h3>{{prod.title}}</h3>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
</div>

  <div class="bottom-content">
    <div class="title">
      <h3>{{sliderName2}}</h3>
    </div>
    <div class="featured">

        <ion-slides #today pager="false" [options]="slideOpts2">
          <ion-slide *ngFor="let prod of slideRow2" >
            <div class="slide">
              <div class="slide-item">
                <img [src]="prod?.image" />
                <h3 [innerHtml]="prod?.title"></h3>
              </div>
            </div>
          </ion-slide>
     
        </ion-slides>
    
    </div>


    <div class="title" *ngIf="lastProducts.length">
      <h3>Here Today, Gone Tomorrow...</h3>
    </div>
    <div class="here-today" *ngIf="lastProducts.length">
      <ion-slides #today pager="false" [options]="slideOpts2">
        <ion-slide
          *ngFor="let prod of lastProducts"
          (click)="viewProduct(prod.id)">
          <div class="slide">
            <div class="slide-item">
              <img [src]="prod?.img" />
              <h3 [innerHtml]="prod?.title"></h3>
            </div>
          </div>
        </ion-slide>
   
      </ion-slides>
    </div>




  
  </div>

  <div class="bottom-content-bg">
    <div class="title">
      <h3>{{sliderName3}}</h3>
    </div>
    <div class="featured">

        <ion-slides #today pager="false" [options]="slideOpts2">
          <ion-slide
            *ngFor="let prod of slideRow3"
            
          >
            <div class="slide">
              <div class="slide-item">
               <ion-card>
                <h1 >{{prod.title}}</h1>
                <h3 [innerHTML]="prod?.subtitle"></h3>
                <p [innerHTML]="prod?.description" ></p>
                </ion-card>
              </div>
            </div>
          </ion-slide>
     
        </ion-slides>
    
    </div>

</div>
</ion-content>




