// ion-content {
//     --padding-start: 0px;
//     --padding-end: 0px;
//     --padding-top: 0px;
//   }
//   .main-header {
//     background: #4db4b7 url("../../../assets/img/bg.png") no-repeat scroll;
//     background-position: left top;
//     background-size: cover;
//     padding: 16px;
//     height: 150px;
//     ion-row {
//       ion-col {
//         padding-left: 0;
//       }
//     }
//     .logo-bar {
//       position: relative;
//       .logo {
//         position: absolute;
//         top: 10px;
//         z-index: 999;
//         width: 50px;
//         left: 10px;
//       }
//       ion-searchbar {
//         border: 3px dashed #4db4b7;
//         background: #fff;
//         --border-radius: 0px;
//         height: 60px;
//         border-radius: 0;
//         padding-top: 15px;
//         padding-bottom: 15px;
//         .searchbar-input-container.sc-ion-searchbar-ios {
//           height: 65px;
//           background: transparent;
//           --background: transparent;
//         }
//       }
//       img.search-icon {
//         position: absolute;
//         right: 20px;
//         top: 20px;
//         width: 20px;
//       }
//     }
//     .menu {
//       text-align: center;
//       margin-top: 5px;
//       ion-icon {
//         font-size: 18px;
//         color: #fff;
//         border: 2px solid #fff;
//         border-radius: 50px;
//         padding: 5px;
//       }
//       p {
//         color: #fff;
//         font-size: 12px;
//         margin: 0;
//         margin-top: 5px;
//         text-transform: uppercase;
//       }
//     }
//   }
//   .top-slider {
//     // position: absolute;
//     // z-index: 999;
//     // top: 14%;
//     // padding: 0px;
  
//     position: absolute;
//     width: 100%;
//     z-index: 99;
//     // top: 15%;
//     margin-top: -12%;
//   }
//   ion-slides {
//     height: 100%;
//     width: 100%;
//     padding: 0 16px;
  
//     .slide-item {
//       position: relative;
//       img {
//         width: 100%;
//         height:90px;
//       }
//       h3 {
//         font-size: 11px;
//         position: absolute;
//         bottom: 12px;
//         z-index: 99;
//         /* background: #fff; */
//         text-align: center;
//         padding: 10px 5px;
//         width: 100%;
//         text-transform: uppercase;
//         color: #2f5a7b;
//         margin: 0;
//         background: rgba(255, 255, 255, 0.71);
    
    
    
//       }
//     }
//   }
  
//   .swiper-slide {
//     display: block;
//   }
  
//   .swiper-slide img {
//     max-height: 50%;
//     max-width: 95%;
//     margin: 0px 0px 0px;
//     pointer-events: none;
//   }
//   .bottom-content {
//     margin-top: 8%;
//     padding: 16px;
//     .title {
//       margin: 20px 0;
//       h3 {
//         font-family: Braisetto-Bold;
//         border-bottom: 2px dashed #2f5a7b;
//         line-height: 52px;
//         color: #2f5a7b;
//         font-size: 40px;
//       }
//     }
//     .featured {
//       ion-slides {
//         height: 100%;
//         width: 100%;
//         padding: 0 0px;
//         .slide-item {
//           position: relative;
//           img {
//             width: 100%;
//           }
//           h3 {
//             font-size: 12px;
//             position: absolute;
//             bottom: 15px;
//             z-index: 99;
//             background: rgba(255, 255, 255, 0.71);
//             text-align: center;
//             padding: 10px 5px;
//             width: 100%;
//             text-transform: uppercase;
//             color: #2f5a7b;
//             margin: 0;
//           }
//         }
//       }
//     }
//     .here-today {
//       ion-slides {
//         height: 100%;
//         width: 100%;
//         padding: 0 0px;
//         .slide-item {
//           position: relative;
//           img {
//             width: 100%;
//             height: 150px;
//           }
//           h3 {
//             font-size: 10px;
//             position: absolute;
//             bottom: 15px;
//             z-index: 99;
//             background: rgba(255, 255, 255, 0.63);
//             text-align: center;
//             padding: 10px 5px;
//             width: 100%;
//             text-transform: uppercase;
//             color: #2f5a7b;
//             margin: 0;
//             opacity: 1;
//             font-weight: bold;
//           }
//         }
//       }
//     }
//   }
  
//   .search-result-div {
//     height: 250px;
//     overflow-y: scroll;
//     background: #fff;
//     position: absolute;
//     width: 100%;
//     box-shadow: 0px 2px 18px 0px #a7a7a773;
//     top: 0px;
//     z-index: 9999;
//   }
//   .bottom-content-bg{
//     background: #4db4b7 url("../../../assets/img/bg.png") no-repeat scroll;
//     background-position: left top;
//     background-size: cover;
//     padding: 16px;
//     h3{
//       font-family: Braisetto-Bold;
//       border-bottom: 2px dashed #fff;
//       line-height: 52px;
//       color: #fff;
//       font-size: 34px;
//       text-align: center;
//     }
//     ion-slides{
//       padding:0;
//       ion-slide{
//         display: block;
//       width: 165px !important;
//       margin-right: 10px;
//       }
//     }
//     .slide-item{
    
//       ion-card{
//         background: #fff;
//         padding: 10px;
//         margin: 0 10px 0 0;
//         height: 140px;
//         h1{
//           font-family: Braisetto-Bold;
//           font-size: 30px;
//           color: #4db4b7;
//           margin: 0;
//           margin-bottom: 12px;
//         }
//         h3{
         
//       font-size: 14px;
//       position: relative;
//       margin: 0;
//       line-height: 12px;
//       font-family: inherit;
//       color: #4db4b7;
//       font-weight: bold;
//       padding: 0;
//         }
//         p{
//           font-size: 11px;
//           font-family: inherit;
//           margin: 0;
//           text-align: center;
//         }
//       }
     
//     }
//   }