app-page-register {
  .main-header_new {
    background: #4db4b7 url("../../../assets/img/bg.png") no-repeat scroll;
    background-position: left top;
    background-size: cover;
    padding: 16px;
    height: 86px !important;
    ion-row {
      ion-col {
        padding-left: 0;
      }
    }
    .logo-bar {
      position: relative;
      .logo {
        position: absolute;
        top: 10px;
        z-index: 999;
        width: 50px;
        left: 10px;
      }

      img.search-icon {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
      }
    }

    .menu {
      text-align: center;
      margin-top: 5px;
      ion-icon {
        font-size: 18px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 5px;
      }
      p {
        color: #fff;
        font-size: 13px;
        margin: 0;
        margin-top: 5px;
        text-transform: uppercase;
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
      }
    }
  }
  ion-toolbar {
    --background: transparent;
    background: transparent;
    ion-title {
      font-family: Braisetto-Bold;
      font-size: 32px;
      color: #fff;
      padding-left: 0px;
      padding-right: 0;
    }
    ion-back-button {
      --color: #fff !important;
      font-family: Gill-Sans-MT-Light;
      letter-spacing: 1px;
      --padding-start: 0 !important;
      span.button-text {
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
  ion-label {
    min-width: 25px;
  }

  ion-icon[name="ios-close-circle-outline"] {
    font-size: 26px;
    color: #fff;
  }

  .user_list {
    max-width: 90%;
    width: 100%;
    margin: auto;
    ion-icon {
      color: #4ab6b6;
      margin-right: 12px;
    }
    ion-label {
      width: 100% !important;
      max-width: 100% !important;
      pointer-events: auto !important;
      margin-bottom: 0;
      margin-top: 2px;
    }
    ion-item {
      --padding-start: 0px;
    }
  }

  .logo_img {
    margin-top: 40px;
    margin-bottom: 14px;
  }
  .btn_sec {
    text-align: center;
    ion-button {
      max-width: 70%;
      width: 100%;
      margin: auto;
      margin-top: 22px;
      --background: #4ab6b6;
      --border-radius: 10px;
    }
  }
}
.error-messages {
  color: red;
}
.error-message {
  color: red;
}

.error-messages {
  position: relative;
  margin-top: 8px;
  font-size: 14px;
}
