<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header_new">
    <ion-toolbar>
        <ion-title>{{ 'Sign_Up' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="ios-close-circle-outline" (click)="close()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="login">
    <ion-grid>
        <form [formGroup]="registInfo">
            <ion-row>
                <ion-col size="12">
                    <ion-list class="user_list">


                        <div class="form-group">
                            <ion-item>
                                <ion-icon name="ios-contact"></ion-icon>
                                <ion-label>
                                    <ion-input placeholder="{{ 'First_Name' | translate }}" class="form-control"
                                        formControlName="first_name" type="text" required></ion-input>
                                </ion-label>

                            </ion-item>
                        </div>

                        <div class="error-messages">
                            <ng-container *ngFor="let error of error_messages.first_name">
                                <div class="error-message"
                                    *ngIf="registInfo.get('first_name').hasError(error.type) && (registInfo.get('first_name').touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>




                        <div class="form-group">
                            <ion-item>
                                <ion-icon name="ios-browsers"></ion-icon>
                                <ion-label>
                                    <ion-input placeholder="{{ 'Last_Name' | translate }}" class="form-control"
                                        formControlName="last_name" type="text" required></ion-input>
                                </ion-label>

                            </ion-item>
                        </div>

                        <div class="error-messages">
                            <ng-container *ngFor="let error of error_messages.last_name">
                                <div class="error-message"
                                    *ngIf="registInfo.get('last_name').hasError(error.type) && (registInfo.get('last_name').touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>



                        <div class="form-group">
                            <ion-item>
                                <ion-icon name="ios-person"></ion-icon>
                                <ion-label>
                                    <ion-input placeholder="{{ 'User_Name' | translate }}" class="form-control"
                                        formControlName="username" type="text" required></ion-input>
                                </ion-label>

                            </ion-item>
                        </div>

                        <div class="error-messages">
                            <ng-container *ngFor="let error of error_messages.username">
                                <div class="error-message"
                                    *ngIf="registInfo.get('username').hasError(error.type) && (registInfo.get('username').touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>

                        <div class="form-group">
                            <ion-item>
                                <ion-icon name="ios-mail"></ion-icon>
                                <ion-label>
                                    <ion-input placeholder="{{ 'Email' | translate }}" class="form-control"
                                        formControlName="email" type="email" required></ion-input>
                                </ion-label>

                            </ion-item>
                        </div>

                        <div class="error-messages">
                            <ng-container *ngFor="let error of error_messages.email">
                                <div class="error-message"
                                    *ngIf="registInfo.get('email').hasError(error.type) && ( registInfo.get('email').touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>



                        <div class="form-group">
                            <ion-item>

                                <ion-icon [name]="!fieldTextType  ? 'eye' : 'eye-off' " (click)="toggleFieldTextType()">
                                </ion-icon>
                                <ion-label>
                                    <ion-input placeholder="{{ 'Password' | translate }}" class="form-control"
                                        formControlName="password" [type]="fieldTextType ? 'text' : 'password'"
                                        required></ion-input>
                                </ion-label>

                            </ion-item>
                        </div>

                        <div class="error-messages">
                            <ng-container *ngFor="let error of error_messages.password">
                                <div class="error-message"
                                    *ngIf="registInfo.get('password').hasError(error.type) && ( registInfo.get('password').touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>




                        <div class="form-group">
                            <ion-item>

                                <ion-icon [name]="!passwordType  ? 'eye' : 'eye-off' " (click)="toggleType()">
                                </ion-icon>
                                <ion-label>
                                    <ion-input (ionChange)="vrifyConfirmpassword()"
                                        placeholder="{{ 'Confirm_Password' | translate }}" class="form-control"
                                        formControlName="confirmPassword" [type]="passwordType ? 'text' : 'password'"
                                        required></ion-input>
                                </ion-label>

                            </ion-item>
                        </div>
                        <div class="error-message" *ngIf="passwordCheck">
                            Confirm Password does not match with Password.
                        </div>
                        <div class="error-messages">
                            <ng-container *ngFor="let error of error_messages.confirmPassword">
                                <div class="error-message"
                                    *ngIf="registInfo.get('confirmPassword').hasError(error.type) && (registInfo.get('confirmPassword').dirty || registInfo.get('confirmPassword').touched)">
                                    {{ error.message }}
                                </div>
                            </ng-container>
                        </div>
                    </ion-list>
                </ion-col>
            </ion-row>
           
            <ion-row class="btn_sec">
                <ion-col size="12">
                    <ion-button (click)="btnRegisterUser()" [disabled]="!registInfo.valid">{{ 'Sign_Up_Now' | translate
                        }}</ion-button>

                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

</ion-content>