<!--
  Generated template for the Category page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="" mode="md" text="Back" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center">
            {{ 'Category' | translate }}
        </ion-title>
        <ion-buttons slot="end" (click)="openSidemenu()">
            <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
            <div class="menu">
                <ion-icon name="menu"></ion-icon>
                <p>Menu</p>
            </div>
        </ion-buttons>
    </ion-toolbar>

</ion-header>



<!-- <ion-header>
  <ion-toolbar style="--background: #4db4b7">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Category' | translate }}</ion-title>

  </ion-toolbar>
</ion-header> -->
<ion-content class="commonbg">
    <!-- <ion-refresher style="z-index: 999" slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher> -->
    <!-- <ion-list>
        <ion-item detail="true" *ngFor="let category of categories" (click)="openListings(category.slug)">
            <p [innerHTML]="category.post_title"></p>
        </ion-item>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data.....">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-list> -->
    <ion-grid>
        <ion-row class="accordian_sec" *ngFor = "let category of categories">
            <ion-col size="12">
                <div class="tabs">
                    <div class="tab">
                    <input type="radio" id={{category.ID}} name="hello">
                    <label class="tab-label" for={{category.ID}} [innerHTML]="category.title" ></label>
                    <div class="tab-content">
                        
                        <div class="inner_tabs" *ngFor = "let sub_category of category.children" (click)="openListings(sub_category, 'sub', sub_category.children.length,url,default)">
                            <div class="inner_tab">
                            <input type="checkbox" id={{sub_category.ID}} name="categ">
                            <label class="tab_label_new" [ngClass]="{'tab_label_new_after' : sub_category.children.length}" for={{sub_category.ID}} [innerHTML]= "sub_category.title"></label>
                            <div class="tab-content_new" *ngFor = "let inner_cat of sub_category.children">
                                
                              <span (click)="openListings(inner_cat, 'inner', -1,inner_cat.url,category.title+'/'+sub_category.title+'/')" >  {{inner_cat.title}}</span>
                               
                            </div>
                            </div>
                        </div>
                    
                    </div>
                    </div>
                </div>


                
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>