// app-page-home {
//   ion-content {
//     --padding-start: 0px;
//     --padding-end: 0px;
//     --padding-top: 0px;
//     background: #e4e9ee !important;
//   }
//   ion-toolbar {
//     --background: transparent;
//     background: transparent;
//     ion-title {
//       font-family: Braisetto-Bold;
//       font-size: 40px;
//       color: #fff;
//     }
//     ion-back-button {
//       --color: #fff !important;
//       font-family: Gill-Sans-MT-Light;
//       letter-spacing: 1px;
//       --padding-start:0 !important;
//       span.button-text {
//         font-family: Gill-Sans-MT-Light;
//         letter-spacing: 1px;
//         text-transform: uppercase;
//       }
//     }
//   }
//   .main-header {
//     background: #4db4b7 url("../../../assets/img/bg.png")  no-repeat scroll ;
//     background-position: left top;
//     background-size: cover;
//     padding: 16px;
//     height: 180px;
//     ion-row {
//       ion-col {
//         padding-left: 0;
//       }
//     }
//     .logo-bar {
//       position: relative;
//       .logo {
//         position: absolute;
//         top: 10px;
//         z-index: 999;
//         width: 50px;
//         left: 10px;
//       }
//       ion-searchbar {
//         border: 3px dashed #4db4b7;
//         background: #fff;
//         --border-radius: 0px;
//         height: 60px;
//         border-radius: 0;
//         padding-top: 15px;
//         padding-bottom: 15px;
//         margin-top: 20px;
//         .searchbar-input-container.sc-ion-searchbar-ios {
//           height: 65px;
//           background: transparent;
//           --background: transparent;
//         }
//       }
//       img.search-icon {
//         position: absolute;
//         right: 20px;
//         top: 20px;
//         width: 20px;
//       }
//     }
    
//     .menu {
//       text-align: center;
//       margin-top: 5px;
//       ion-icon {
//         font-size: 18px;
//         color: #fff;
//         border: 2px solid #fff;
//         border-radius: 50px;
//         padding: 5px;
//       }
//       p {
//         color: #fff;
//         font-size: 13px;
//         margin: 0;
//         margin-top: 5px;
//         text-transform: uppercase;
//         font-family: Gill-Sans-MT-Light;
//         letter-spacing: 1px;
//       }
//     }
//   }
//   .content{
//     padding: 16px;
//     .title{
//       border-bottom: 2px dashed #2f5a7b;
//       // line-height: 32px;
//       margin-top:20px;
//       ion-row{
//         ion-col{
//           padding:0;
//         }
//       }
//       h3{
//         font-size: 15px;
//         text-transform: uppercase;
//         color: #888888;
//         font-family: Gill-Sans-MT-Medium;
//         margin:0;
//         line-height: 32px;
//       }
//       p{
//         font-size: 12px;
//         font-family: Gill-Sans-MT-Medium;
//         color: #888888;
//         margin:0;
//         text-align:right;
//         line-height: 32px;
//       }
//     }
//     .products{
//       padding:10px 0;
//       ion-row{
//         ion-col{
//           padding-left:0;
//         }
//         ion-col:last-child{
//           padding-right:0;
//         }
//       }
//       .product-item{
//         .item-img{
//           height:200px;
//           width:100%;
//           overflow:hidden;
//           img{
//             width:100%;
//             height:200px;
//           }
//         }
//          h3{
//            font-size:12px;
//            color: #2f5a7b; 
//            font-family: Gill-Sans-MT-Bold;
//          }
//          h4{
//            color: #4db4b7;
//            font-size:18px;
//            font-family: Gill-Sans-MT-Bold;
//          }
//       }
//     }
//   }
//   ion-slides {
//     height: 150px;
//     .slide{
//       margin-right:10px;
//     }
//   }
//   ion-slides {
//     height: 100%;
//     width: 100%;
//     padding: 0 16px;
//     .slide-item {
//       position: relative;
//       img {
//         width: 100%;
//       }
//       h3 {
//         font-size: 11px;
//         position: absolute;
//         bottom: 15px;
//         z-index: 99;
//         background: #fff;
//         text-align: center;
//         padding: 10px 5px;
//         width: 100%;
//         text-transform: uppercase;
//         color: #2f5a7b;
//         margin: 0;
//       }
//     }
//   }
//   ion-slides ion-slide img {
//     width: 100% !important;
//     // height: 150px !important;
//     margin-right:10px;
//   }

//   ion-grid ion-row {
//     -webkit-flex-wrap: wrap;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//   }

//   ion-grid ion-row ion-col .card {
//     overflow: hidden;
//     font-size: 0.9em;
//   }

//   ion-grid ion-row ion-col .card img {
//     width: 100%;
//     height: 180px;
//     background-size: cover;
//     background-position: center;
//     position: relative;
//   }

//   ion-grid ion-row ion-col .card .title {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//   }

//   .padding-xs {
//     padding: 10px;
//   }

//   .card.round {
//     overflow: hidden;
//   }

//   .round {
//     border-radius: 5px;
//   }

//   .card {
//     background: #fff;
//     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
//   }

//   .badge {
//     position: relative;
//     z-index: 3;
//   }

//   .badge > span {
//     position: absolute;
//     top: 5px !important;
//     right: 5px !important;
//     display: block;
//     background: #ccc;
//     color: white;
//     padding: 0 3px 0 10px;
//     font-size: 10px;
//     text-transform: uppercase;
//     line-height: 22px;
//     height: 20px !important;
//     border-top-right-radius: 2px;
//     border-bottom-right-radius: 2px;
//     margin-bottom: 5px;
//     text-align: center;
//   }

//   .badge > span:before {
//     border-right-color: #cccccc;
//     content: "";
//     float: left;
//     position: absolute;
//     top: 0;
//     left: -10px;
//     width: 0;
//     height: 0;
//     border-color: transparent #ccc transparent transparent;
//     border-style: solid;
//     border-width: 10px 10px 10px 0;
//   }

//   .badge > span:after {
//     content: "";
//     position: absolute;
//     top: 7px;
//     left: 0px;
//     float: left;
//     width: 7px;
//     height: 7px;
//     -moz-border-radius: 6px;
//     -webkit-border-radius: 6px;
//     border-radius: 6px;
//     background: #fff;
//   }

//   .badge > span.sale:before {
//     border-right-color: orange;
//     border-color: transparent orange transparent transparent;
//   }

//   .badge > span.sale {
//     background: orange;
//   }

//   .badge > span.sale:after {
//     background: white;
//   }

//   .badge > span.sold:before {
//     border-right-color: mediumseagreen;
//     border-color: transparent mediumseagreen transparent transparent;
//   }

//   .badge > span.sold {
//     background: mediumseagreen;
//   }

//   .badge > span.sold:after {
//     background: white;
//   }

//   ins {
//     text-decoration: none;
//     color: red;
//   }

//   .badge-left {
//     position: relative;
//     z-index: 3;
//   }

//   .badge-left > span {
//     position: absolute;
//     top: 5px !important;
//     left: 5px !important;
//     display: block;
//     background: #ccc;
//     color: white;
//     padding: 0 3px 0 10px;
//     font-size: 10px;
//     text-transform: uppercase;
//     line-height: 22px;
//     height: 20px !important;
//     border-top-right-radius: 2px;
//     border-bottom-right-radius: 2px;
//     margin-bottom: 5px;
//     text-align: center;
//   }

//   .badge-left > span:before {
//     border-left-color: white;
//     content: "";
//     float: left;
//     position: absolute;
//     top: 0;
//     left: 0px;
//     width: 0;
//     height: 0;
//     border-color: transparent transparent transparent #ccc;
//     border-style: solid;
//     border-width: 10px 0px 10px 10px;
//   }

//   //  .badge-left>span:after {
//   //   content: "";
//   //   position: absolute;
//   //   top: 7px;
//   //   left: 0px;
//   //   float: left;
//   //   width: 7px;
//   //   height: 7px;
//   //   -moz-border-radius: 6px;
//   //   -webkit-border-radius: 6px;
//   //   border-radius: 6px;
//   //   background: #fff;
//   // }

//   age-home .badge-left > span.sale:before {
//     border-left-color: white;
//     border-color: transparent transparent transparent #ccc;
//   }

//   .badge-left > span.sale {
//     //background: orange;
//   }

//   .badge-left > span.sale:after {
//     background: white;
//   }

//   .search-result-div {
//     height: 250px;
//     overflow-y: scroll;
//     background: #fff;
//     position: absolute;
//     width: 100%;
//     box-shadow: 0px 2px 18px 0px #a7a7a773;
//     top: 0px;
//     z-index: 9999;
//   }
// }
app-page-category{
  .main-header {
    background: #4db4b7 url("../../../assets/img/bg.png")  no-repeat scroll ;
    background-position: left top;
    background-size: cover;
    padding: 16px;
    // height: 86px;
    ion-row {
      ion-col {
        padding-left: 0;
      }
    }
    .logo-bar {
      position: relative;
      .logo {
        position: absolute;
        top: 10px;
        z-index: 999;
        width: 50px;
        left: 10px;
      }
     
      img.search-icon {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
      }
    }
    
    .menu {
      text-align: center;
      margin-top: 5px;
      ion-icon {
        font-size: 18px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 5px;
      }
      p {
        color: #fff;
        font-size: 13px;
        margin: 0;
        margin-top: 5px;
        text-transform: uppercase;
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
      }
    }
  }

     ion-toolbar {
    --background: transparent;
    background: transparent;
    ion-title {
      font-family: Braisetto-Bold;
      font-size: 40px;
      color: #fff;
      padding-left: 0px;
    }
    ion-back-button {
      --color: #fff !important;
      font-family: Gill-Sans-MT-Light;
      letter-spacing: 1px;
      --padding-start:0 !important;
      span.button-text {
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .bottom-content{
    .title{
h3
  {
    font-family: Braisetto-Bold;
    border-bottom: 2px dashed #2f5a7b;
    line-height: 52px;
    color: #2f5a7b;
    font-size: 27px;
}
  }
}

 .query-button{
  width: 100%;
    border-radius: 23px;
    --background: #4db4b7;
    color: #fff;
    font-size: 17px;
    font-family: Gill-Sans-MT-Light;
    font-weight: 900;
    --border-radius: 30px;
    --box-shadow: 0px 0px 0px !important;
}
.query{
  margin-top: 50px;
}
.query-button-row{
  margin-top: 20px;
}
.error-messages{
  text-align: left;
  font-size: 13px;
  margin-left: 2px;
  margin-top: 5px;
  color: red;
}




/* Accordion styles */

.accordian_sec input {
//   position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #4db4b7;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #4db4b7;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
    min-height: 0;
    max-height: 0;
  padding: 0 1em;
  color: #4db4b7;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #4db4b7;
  cursor: pointer;
}
.tab-close:hover {
  background: #4db4b7;
}

input:checked + .tab-label {
  background: #4db4b7;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0;
    box-shadow: 0px 4px 3px #080808;
    overflow-y: scroll;
}

input:checked + .tab_label_new {
    background: transparent;
    
  }
  input:checked + .tab_label_new.tab_label_new_after::after {
    transform: rotate(45deg);
  }
  input:checked ~ .tab-content_new {
    max-height: 100vh;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 0;
    display: block;
    position: relative;
  }
  input:checked ~ .tab-content_new:after {
    content: "";
    position: absolute;
    left: 16px;
    width: 5px;
    height: 5px;
    background: #4db4b7;
    top: 0px;
    bottom: 10px;
    margin: auto;
}
  .tab_label_new {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 8px;
    padding-top: 8px;
    /* Icon */
  }
  .tab_label_new_after::after {
    content: "+";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
    color:#000;
  }
  .tab-content_new {
    max-height: 0;
    padding: 0 1em;
    color: #4db4b7;
    background: transparent;
    transition: all 0.35s;
    font-size: 14px;
  }
  .tab-content_new p {
    margin-top: 10px;
    margin-bottom: 10px;
}


.tab-content_new {
    display: none;
}
}



