

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    transition: box-shadow 150ms ease;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  ion-header {
    --border-width: 0px;
    ion-toolbar {
        --background: #a23c97;
      ion-title {
        color: #fff;
        letter-spacing: 0.6px;
      }
      ion-menu-button {
        color: #fff;
      }
      ion-icon {
        color: #fff;
        font-size: 22px;
        margin-right: 7px;
      }
    }
  }

  form#payment-form {
    max-width: 90%;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.label_pay {
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 700;
  margin-top: 20px;
  position: relative;
  margin-top: 7px;
    
}
div#card-element {
    padding-left: 8px;
}
.pay_btn{
    text-align: center;
    button{
        width: 100%;
        max-width: 60%;
        height: 42px;
        border-radius: 30px;
        background: #4db4b7;
        box-shadow: 0px 0px 0px;
        margin-top: 20px;
        text-transform: capitalize;
        margin-bottom: 20px; 
        color: #fff;  
    }
        
}
div#card-errors {
    margin-top: 12px;
    font-size: 14px;
    color: red;
}
#payment-amount{
  --padding-start: 8px !important;
}
.card_sec {
    text-align: center;
    img {
        max-width: 98%;
        width: 100%;
        height: 180px;
        margin: auto;
        border-radius: 10px;
        object-fit: cover;
    }
}
.label_pay:after {
    content: "";
    position: absolute;
    width: 54px;
    border-bottom: 3px solid #4db4b7;
    left: 0;
    bottom: -7px;
}




  .top_up {
      p {
       font-size: 18px;
       position: relative;
      }
      p:after{
        content: "";
        position: absolute;
        width: 54px;
        border-bottom: 3px solid #4db4b7;
        left: 0;
        bottom: -7px;
      }
      ion-input {
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #32325d !important;
        font-size: 16px !important;
    }
}


.toolbar-menu {
  --background: black;
}
page-cards {
    .card-brand {
      max-width: 14%;
      min-width: 14%;
    }
  
    .form-div {
  
      // input {
      //     width: 46%;
      //     border: none;
      //     border-bottom: 1px solid#e8e5e5;
      //     padding: 5px 0px;
      //   }
      .cardnumber {
        width: 70%;
        border: none;
        border-bottom: 1px solid #e8e5e5;
        padding: 5px 0px;
      }
  
      .cvv {
        float: right;
        width: 24%;
        border: none;
        border-bottom: 1px solid #e8e5e5;
        padding: 5px 0px;
      }
  
      input.fullname {
        width: 50%;
        border: none;
        border-bottom: 1px solid #e8e5e5;
        padding: 5px 0px;
      }
  
      p.expire-text {
        margin-right: 15%;
      }
  
      input.date {
        width: 20%;
        border: none;
        border-bottom: 1px solid #e8e5e5;
        padding: 5px 0px;
        //   float: right;
        display: inline-block;
        margin-right: 10px;
      }
  
      input.year {
        width: 20%;
        border: none;
        border-bottom: 1px solid #e8e5e5;
        padding: 5px 0px;
        //   float: right;
      }
    }
  
    .order-total {
      background: #201e1e;
      color: #fff;
      padding: 8px 8px;
      text-align: right;
      margin-bottom: 15px;
    }
  
    .form-div {
      background: #fffdfd;
      padding: 20px 20px;
      border: 1px solid #e0dcdc;
      box-shadow: 1px 2px 10px #dcd8d9;
    }
  
  
    /* The container-check */
    .container-check {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    /* Hide the browser's default checkbox */
    .container-check input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    .check-div {
      margin-top: 15px;
    }
  
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0px;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border: 1px solid #ccc;
    }
  
    /* On mouse-over, add a grey background color */
    .container-check:hover input~.checkmark {
      background-color: #fff;
    }
  
    /* When the checkbox is checked, add a blue background */
    .container-check input:checked~.checkmark {
      background-color: #ff2400;
    }
  
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
  
    /* Show the checkmark when checked */
    .container-check input:checked~.checkmark:after {
      display: block;
    }
  
    /* Style the checkmark/indicator */
    .container-check .checkmark:after {
      left: 4px;
      top: 0px;
      width: 3px;
      height: 8px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  
    .paywithcard {
      margin: 0px;
      padding: 8px 8px;
      background: #201e1e;
      color: #fff;
      margin-top: 10px;
    }
  
  
  
  
    /*CARD VALIDATOR CSS*/
    .card-brand {
      border: 1px solid #ccc;
      border-radius: 3px;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      background: #ccc;
      width: 25%;
    }
  
    .outer-card {
      border: 1px solid #ccc;
      box-shadow: 4px 4px 10px #eaeaea;
      border-radius: 5px;
    }
  
    .inner-card {
      padding: 0px;
    }
  
    ion-input {
      color: #424242;
    }
  
    input {
      color: #424242;
      text-transform: uppercase !important;
    }
  
    input.text-input::placeholder {
      color: #999;
      letter-spacing: 0.8px;
    }
  
    input.text-input {
      margin: 10px 8px 11px 0;
    }
  
    ion-col p {
      color: #424242;
    }
  
    .datetime-text {
      line-height: 16px;
    }
  
    .datetime-text.datetime-placeholder {
      color: #999;
      font-size: 14px;
    }
  
    .c-number {
      border-bottom: 1px solid #ccc;
      border-radius: 5px;
      padding-left: 5px;
      margin-bottom: 10px;
      height: 39px;
    }
  
    .date-col {
      padding: 0px !important;
    }
  
    .c-date {
      border-bottom: 1px solid #ccc;
      border-radius: 5px;
      padding-left: 5px;
      margin-bottom: 10px;
      margin-left: -5px;
      display: inline-block;
      height: 39px;
    }
  
    .blank-div {
      width: 100%;
    }
  
    .cvv {
      border-bottom: 1px solid #ccc;
      height: 45px;
      line-height: 24px;
      padding-left: 5px;
      margin-bottom: 10px;
      width: 25%;
      display: inline-block;
      float: right;
      height: 39px;
      text-align: center;
    }
  
    .c-name {
      background: #fff;
      border-radius: 0px;
      font-size: 12px;
      height: 45px;
      line-height: 25px;
    }
  
    .date-item {
      padding: 0 !important;
      width: 90% !important;
      background: transparent;
    }
  
    ion-datetime {
      width: 100%;
      background: transparent;
      color: #424242;
      padding: 11px 0px 12px 0px !important;
      font-size: 15px;
    }
  
    .datetime-md {
      padding: 5px 0px 13px 0px;
      margin-left: 8px;
    }
 
  }
  .c-number, .c-date, .cvv, .c-name {
    border: 1px solid #d3d0d0 !important;
    // border-radius: 5px !important;
    padding-left: 10px !important;
}
.payment-header{
  background:#000;
  --background:#000;
}
.payment-header ion-title{
  color:#fff;
  --color:#fff;
}
button.add-btn {
  background: #Ff2400;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  outline: none;
}
.c-date ion-datetime {
  --padding-start: 0px;
  --padding-top: 7px;
  --padding-bottom: 0px;
}
input#card_number {
  border: 0px solid #dedede;
  height: 40px;
  color: #767676 !important;
  outline: none;
}
.payment-error{
  color: red !important;
  font-size: 13px !important;
  padding-top: 10px;
}

.c-number{
  input{
      height: 42px;
      border: 1px solid #ccc;
      // border-radius: 5px;
      font-size: 12px;
  }
  }
  .cvv {
    background: #fff;
    border-radius: 0px;
    font-size: 12px;
    height: 45px;
    line-height: 25px;
  }
  .c-name {
    background: #fff;
    border-radius: 0px;
    font-size: 12px;
    height: 45px;
    line-height: 25px;
  }
  .date-time{border-radius: 5px;
    border-radius: 1px solid #ccc;
      height: 42px;}
  .new-card {
      // border: 1px solid #ccc;
      // background: #ccc;
      // background-image: linear-gradient(to top, #929090 , #dcdce0);
      padding: 12px;
      // border-radius: 5px;
      line-height: 10px;
      margin-bottom: 20px;
      box-shadow: 1px 1px 12px #c1c1c1fa;
  }
  #apple-pay-button {
    display: none;
    background-color: black;
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-size: 100% 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
    width: 100%;
    height: 44px;
    padding: 10px 0;
    border-radius: 10px;
  }
.amount-error{
  padding-left: 8px;
  margin-bottom: 0px;
  margin-top: 5px;
  color:red;
}

.pay_btn button:focus {
  outline: 0;
}

.main-header.ios.header-ios{
  ion-toolbar{
    ion-title{
      padding-right: 0;
    }
  }
}
.stripe_logo {
  text-align: center;
  padding: 20px 10px;
  img{
    width: 200px;
  }
}