<!--
  Generated template for the StripePay page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-icon name="close" (click)="close()"></ion-icon>
      <!-- <ion-back-button  [routerLink]="['/checkout']" mode="md" text="Back" icon="arrow-back" (click)="close()"></ion-back-button> -->
    </ion-buttons>
    <ion-title mode="ios" class="ion-text-center">
      {{ 'Payment' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="stripe_logo">
    <img src="../../../assets/img/paymentlogo.jpg">
  </div>
  <script src="https://js.stripe.com/v3/"></script>
  <form action="/charge" method="post" id="payment-form">
    <ion-grid>
      <ion-row>
        <!-- <ion-col size="12" class="card_sec">
                    <ion-slides [options]="slideOptions" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
                        <ion-slide>
                            <img src="assets/imgs/card.png">
                        </ion-slide>
                        <ion-slide>
                            <img src="assets/imgs/card.png">
                        </ion-slide>
                    </ion-slides>
                </ion-col> -->
        <ion-col size="12" class="top_up">
          <p>Total Amount</p>
          <!-- <ion-input id="payment-amount" placeholder="£ Enter Amount"  type="number"></ion-input> -->

          <ion-input
            id="payment-amount"
            value="£{{total}}"
            type="readonly"
            readonly
          ></ion-input>
        </ion-col>
        <div *ngIf="errorShow">
          <p class="amount-error">Please enter amount</p>
        </div>
        <ion-col size="12">
          <div class="form-row">
            <label for="card-element" class="label_pay"> Card details </label>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
          </div>
        </ion-col>
        <ion-col size="12" class="pay_btn">
          <!-- <button  type="submit" (click)="pay()">Submit Payment</button> -->
          <button [disabled]="isButton" type="submit">Submit Payment</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
