app-page-home {
  .content .products .product-item .item-img img {
    object-fit: cover;
    object-position: top;
  }
  ion-content {
    --padding-start: 0px;
    --padding-end: 0px;
    --padding-top: 0px;
    background: #e4e9ee !important;
  }
  ion-toolbar {
    --background: transparent;
    background: transparent;
    ion-title {
      font-family: Braisetto-Bold;
      font-size: 40px;
      color: #fff;
    }
    ion-back-button {
      --color: #fff !important;
      font-family: Gill-Sans-MT-Light;
      letter-spacing: 1px;
      --padding-start: 0 !important;
      span.button-text {
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
  .main-header {
    background: #4db4b7 url("../../../assets/img/bg.png") no-repeat scroll;
    background-position: left top;
    background-size: cover;
    padding: 16px;
    height: 180px !important;
    ion-row {
      ion-col {
        padding-left: 0;
      }
    }
    .logo-bar {
      position: relative;
      .logo {
        position: absolute;
        top: 10px;
        z-index: 999;
        width: 50px;
        left: 10px;
      }
      ion-searchbar {
        border: 3px dashed #4db4b7;
        background: #fff;
        --border-radius: 0px;
        height: 60px;
        border-radius: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 20px;
        .searchbar-input-container.sc-ion-searchbar-ios {
          height: 65px;
          background: transparent;
          --background: transparent;
        }
      }
      img.search-icon {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
      }
    }

    .menu {
      text-align: center;
      margin-top: 5px;
      ion-icon {
        font-size: 18px;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 5px;
      }
      p {
        color: #fff;
        font-size: 13px;
        margin: 0;
        margin-top: 5px;
        text-transform: uppercase;
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
      }
    }
  }
  .content {
    padding: 16px;
    .title {
      border-bottom: 2px dashed #2f5a7b;
      // line-height: 32px;
      margin-top: 20px;
      ion-row {
        ion-col {
          padding: 0;
        }
      }
      h3 {
        font-size: 15px;
        text-transform: uppercase;
        color: #888888;
        font-family: Gill-Sans-MT-Medium;
        margin: 0;
        line-height: 32px;
      }
      p {
        font-size: 12px;
        font-family: Gill-Sans-MT-Medium;
        color: #888888;
        margin: 0;
        text-align: right;
        line-height: 32px;
      }
    }
    .products {
      padding: 10px 0;
      ion-row {
        ion-col {
          padding-left: 0;
        }
        ion-col:last-child {
          padding-right: 0;
        }
      }
      .wrap_img_sec {
        box-shadow: 2px 1px 10px #b7b7b7;
        margin: 6px 1px;
      }
      .product-item {
        .item-img {
          height: 200px;
          width: 100%;
          overflow: hidden;
          img {
            width: 100%;
            height: 185px;
            max-width: 185px;
          }
        }
        h3 {
          font-size: 12px;
          color: #2f5a7b;
          font-family: Gill-Sans-MT-Bold;
        }
        h4 {
          color: #4db4b7;
          font-size: 18px;
          font-family: Gill-Sans-MT-Bold;
        }
      }
    }
  }
  ion-slides {
    height: 150px;
    .slide {
      margin-right: 10px;
    }
  }
  ion-slides {
    height: 100%;
    width: 100%;
    padding: 0 16px;
    .slide-item {
      position: relative;
      img {
        width: 100%;
      }
      h3 {
        font-size: 11px;
        position: absolute;
        bottom: 15px;
        z-index: 99;
        background: #fff;
        text-align: center;
        padding: 10px 5px;
        width: 100%;
        text-transform: uppercase;
        color: #2f5a7b;
        margin: 0;
      }
    }
  }
  ion-slides ion-slide img {
    width: 100% !important;
    // height: 150px !important;
    margin-right: 10px;
  }

  ion-grid ion-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  ion-grid ion-row ion-col .card {
    overflow: hidden;
    font-size: 0.9em;
  }

  ion-grid ion-row ion-col .card img {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  ion-grid ion-row ion-col .card .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .padding-xs {
    padding: 10px;
  }

  .card.round {
    overflow: hidden;
  }

  .round {
    border-radius: 5px;
  }

  .card {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .badge {
    position: relative;
    z-index: 3;
  }

  .badge > span {
    position: absolute;
    top: 5px !important;
    right: 5px !important;
    display: block;
    background: #ccc;
    color: white;
    padding: 0 3px 0 10px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 22px;
    height: 20px !important;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 5px;
    text-align: center;
  }

  .badge > span:before {
    border-right-color: #cccccc;
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-color: transparent #ccc transparent transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
  }

  .badge > span:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0px;
    float: left;
    width: 7px;
    height: 7px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
  }

  .badge > span.sale:before {
    border-right-color: orange;
    border-color: transparent orange transparent transparent;
  }

  .badge > span.sale {
    background: orange;
  }

  .badge > span.sale:after {
    background: white;
  }

  .badge > span.sold:before {
    border-right-color: mediumseagreen;
    border-color: transparent mediumseagreen transparent transparent;
  }

  .badge > span.sold {
    background: mediumseagreen;
  }

  .badge > span.sold:after {
    background: white;
  }

  ins {
    text-decoration: none;
    color: red;
  }

  .badge-left {
    position: relative;
    z-index: 3;
  }

  .badge-left > span {
    position: absolute;
    top: 5px !important;
    left: 5px !important;
    display: block;
    background: #ccc;
    color: white;
    padding: 0 3px 0 10px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 22px;
    height: 20px !important;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 5px;
    text-align: center;
  }

  .badge-left > span:before {
    border-left-color: white;
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: 0px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #ccc;
    border-style: solid;
    border-width: 10px 0px 10px 10px;
  }

  //  .badge-left>span:after {
  //   content: "";
  //   position: absolute;
  //   top: 7px;
  //   left: 0px;
  //   float: left;
  //   width: 7px;
  //   height: 7px;
  //   -moz-border-radius: 6px;
  //   -webkit-border-radius: 6px;
  //   border-radius: 6px;
  //   background: #fff;
  // }

  age-home .badge-left > span.sale:before {
    border-left-color: white;
    border-color: transparent transparent transparent #ccc;
  }

  .badge-left > span.sale {
    //background: orange;
  }

  .badge-left > span.sale:after {
    background: white;
  }

  .search-result-div {
    height: 250px;
    overflow-y: scroll;
    background: #fff;
    position: absolute;
    width: 100%;
    box-shadow: 0px 2px 18px 0px #a7a7a773;
    top: 0px;
    z-index: 9999;
  }
  .select2-container {
    width: 100% !important;
  }

  .no_result {
    text-align: center;
    display: block;
    height: 55px;
    background: #fff;
    position: absolute;
    width: 100%;
    box-shadow: 0px 2px 18px 0px #a7a7a773;
    top: 0;
    z-index: 9999;
    padding-top: 18px;
    color: #4db4b7;
    text-transform: capitalize;
  }
}

// for ios device
.ios .home_content {
  margin-top: 0px;
}
//end

.select2-hidden-accessible {
  position: unset !important;
}

span.selection {
  display: block;
}
