<!--
  Generated template for the OrderDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="" mode="md" text="Back" icon="arrow-back" (click)="close()"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center">
            {{ 'OrderDetails' | translate }}
        </ion-title>
        <ion-buttons slot="end" (click)="openSidemenu()">
            <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
            <div class="menu">
                <ion-icon name="menu"></ion-icon>
                <p>Menu</p>
            </div>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content class="commonbg">
    <ion-list *ngIf="order">
        <ion-item-group>
            <ion-item-divider>{{ 'ORDER_SUMMARY' | translate }}</ion-item-divider>
            <ion-item>
                {{ 'Status' | translate }}
                <span slot="end">{{order?.status}}</span>
            </ion-item>
            <ion-item>
                {{ 'Payment_Method' | translate }}
                <span slot="end">{{order?.payment_method}}</span>
            </ion-item>
            <ion-item>
                {{ 'Shipping_Method' | translate }}
                <span slot="end">{{order.shipping_lines[0]?.method_title}}</span>
            </ion-item>
            <ion-item>
                {{ 'Shipping' | translate }}
                <span slot="end">{{order.shipping_lines[0]?.total}}</span>
            </ion-item>
            <ion-item>
                {{ 'Total' | translate }}
                <span slot="end">{{order?.total}}</span>
            </ion-item>
        </ion-item-group>
        <ion-item-group *ngFor="let item of order.line_items">
            <ion-item-divider>{{ 'LINE_ITEMS' | translate }} : {{item?.name}}</ion-item-divider>
            <div style="display:block">
                <div class="top-margin">
                    <ion-col>
                        <p>{{item?.name}}</p>
                    </ion-col>
                </div>
                <div class="top-margin">
                    <div *ngFor="let meta of item.meta">
                        {{meta?.label}}:{{meta?.value}}&nbsp;
                    </div>
                </div>
                <div class="top-margin bottom-margin">
                    <ion-col size="6">{{'Quantity' | translate }}:{{item?.quantity}}</ion-col>
                    <ion-col size="6"> {{'Total' | translate }}:{{item?.total}}</ion-col>
                </div>
                <div class="top-margin">
                    <ion-col>
                        <p> <b>Addons</b></p>
                    </ion-col>
                </div>
                <div class="top-margin">
                    <div class="addons-list">
                        <ion-item *ngFor="let addonslist of item.meta_data" class="ionitem">
                            <ion-label [innerHTML]="addonslist.key" *ngIf="addonslist.key.charAt(0) != '_'">{{addonslist.key}}</ion-label>
                            <ion-label [innerHTML]="addonslist.key" *ngIf="addonslist.key.charAt(0) == '_'" class="listhide"></ion-label>
                        </ion-item>
                    </div>
                </div>
            </div>
        </ion-item-group>
        <ion-item-group>
            <ion-item-divider>{{ 'Shipping_Address' | translate }}</ion-item-divider>
            <ion-item>
                {{ 'First_Name' | translate }}
                <span slot="end">{{order?.shipping.first_name}}</span>
            </ion-item>
            <ion-item>
                {{ 'Last_Name' | translate }}
                <span slot="end">{{order?.shipping.last_name}}</span>
            </ion-item>
            <ion-item>
                {{ 'Country' | translate }}
                <span slot="end">{{order?.shipping.country}}</span>
            </ion-item>
            <ion-item>
                {{ 'Address1' | translate }}
                <span slot="end">{{order?.shipping.address_1}}</span>
            </ion-item>
            <ion-item>
                {{ 'Address2' | translate }}
                <span slot="end">{{order?.shipping.address_2}}</span>
            </ion-item>
            <ion-item>
                {{ 'Town_City' | translate }}
                <span slot="end">{{order?.shipping.city}}</span>
            </ion-item>
            <ion-item>
                {{ 'State' | translate }}
                <span slot="end">{{order?.shipping.state}}</span>
            </ion-item>
            <ion-item>
                {{ 'Zip_Code' | translate }}
                <span slot="end">{{order?.shipping.postcode}}</span>
            </ion-item>

        </ion-item-group>
    </ion-list>
</ion-content>