app-page-order-details {
    .top-margin {
        max-width: 90%;
        width: 100%;
        margin: auto;
        text-align: left;
        p {
            margin-bottom: 0;
            margin-top: 0;
        }
    }
    .bottom-margin {
        margin-bottom: 10px;
    }
    ion-item-divider {
        background: #4db4b7;
        color: #fff;
    }
    ion-header {
        ion-toolbar {
            ion-title {
                ion-title {
                    line-height: 55px;
                    position: relative;
                    top: 8px;
                }
            }
        }
    }
}

.ionitem>.listhide {
    display: none;
}