
<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
  <ion-toolbar>
      <ion-buttons slot="start" mode="md">
          <ion-back-button defaultHref="/" mode="md" text="Back" icon="arrow-back"></ion-back-button>
      </ion-buttons>
      <ion-title mode="ios" class="ion-text-center" >
          {{ products.length ? products[0].store.vendor_shop_name : ''}} 
      </ion-title>
      <ion-buttons slot="end" (click)="openSidemenu()">
          <!-- <ion-button (click)="goToSearch()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button> -->
          <div class="menu">
              <ion-icon name="menu"></ion-icon>
              <p>Menu</p>
          </div>
      </ion-buttons>
  </ion-toolbar>
  <ion-row>
      <ion-col size="12">
          <div class="logo-bar">
              <img src="assets/img/logo.webp" class="logo" />
              <ion-searchbar mode="ios" placeholder="Search on The British Craft House" searchIcon="none"
                  [value]="searchInput" (keyup)="onSearch($event.target.value)" (ionClear)="clearSearch()">
              </ion-searchbar>
              <img src="assets/img/search.png" class="search-icon" *ngIf="!searchInput.length" />
          </div>
      </ion-col>
      <ion-col size="12" *ngIf="searchProducts.length">
          <div class="search-result-div">
              <ion-item *ngFor="let prod of searchProducts" (click)="viewProduct(prod.vendor_id)">
                  <ion-thumbnail slot="start">
                      <img [src]="prod.vendor_banner" onerror="this.onerror=null;this.src='assets/img/noimage.png';" />
                  </ion-thumbnail>
                  <ion-label>{{prod.vendor_shop_name}}
                      <!-- <p [innerHTML]="prod.price_html"></p> -->
                  </ion-label>
              </ion-item>
          </div>
      </ion-col>
  </ion-row>
</ion-header>

<ion-content class="page-home">
  <ion-refresher style="z-index: 999" slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>

  <div class="content home_content">
      <!-- <div class="category-slider">
    <ion-slides #itemSlide pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let item of slides">
        <div class="slide">
          <div class="slide-item">
            <img [src]="item" />
           <h3>Home & interiors</h3> 
          </div>
        </div>
      </ion-slide>
     </ion-slides>
  </div> -->
      <!-- Filter header -->
      <!-- <div class="title">
          <ion-row>
              <ion-col>
                  <h3>
                      Sort by popularity <ion-icon name="chevron-down-outline"></ion-icon>
                  </h3>
              </ion-col>
              <ion-col>
                  <p>Showing 1 - 7 of 1195 results</p>
              </ion-col>
          </ion-row>
      </div> -->

      <!-- Product List -->
      <div class="products">
          <ion-row>
              <ion-col size="6" *ngFor="let product of products" (click)="viewProduct(product.id)">
                  <div class="product-item">
                      <div class="item-img">
                          <!-- <img src="{{ product.images[0].src }}" /> -->
                        <img [src]="product.images[0].src" onerror="this.onerror=null;this.src='assets/img/noimage.png';" />
                      </div>
                      <h3 class="ion-text-left">{{ product.name}}</h3>
                      <h4 class="ion-text-left" [innerHTML]="product.price_html"></h4>
                  </div>
              </ion-col>
              <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                  </ion-infinite-scroll-content>
              </ion-infinite-scroll>
              <!-- <ion-col size="6">
      <div class="product-item">
        <div class="item-img">
          <img src="../../../assets/img/p1.png"/>
        </div>
        <h3>BEES HANDMADE LAMPWORK GLASS AND STERLING SILVER EARRINGS</h3>
        <h4>£33.00</h4>
      </div>
    </ion-col> -->
          </ion-row>
      </div>
  </div>
  <!-- <ion-refresher style="z-index: 999" slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing...">
  </ion-refresher-content>
</ion-refresher>
<ion-slides pager  *ngIf="showSlide">
  <ion-slide *ngFor="let item of slides">
    <img src={{item}}>
  </ion-slide>

</ion-slides>
<ion-grid>
  <ion-row>
    <ion-col size="6" *ngFor="let product of products">
      <div class="card round" (click)="viewProduct(product.id)">
        <div class="badge" *ngIf="product.on_sale">
          <span class="sale">{{ 'OnSale' | translate }}</span>
        </div>
      
        <img src="{{ product.images[0].src }}" alt="">
        <div class="padding-xs" text-center>
          <div class="title">{{ product.name}}</div>
          <div [innerHTML]="product.price_html"></div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll> -->
</ion-content>