ion-content {
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
}
.main-header {
  background: #4db4b7 url("../../../assets/img/bg.png") no-repeat scroll;
  background-position: left top;
  background-size: cover;
  padding: 16px;
  height: 150px;
  color: #bbb;
  ion-row {
    margin-top: 3px;
    ion-col {
      padding-left: 0;
    }
  }
  .logo-bar {
    position: relative;
    .logo {
      position: absolute;
      top: 10px;
      z-index: 999;
      width: 50px;
      left: 10px;
    }
    ion-searchbar {
      border: 3px dashed #4db4b7;
      background: #fff;
      --border-radius: 0px;
      height: 60px;
      border-radius: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      .searchbar-input-container.sc-ion-searchbar-ios {
        height: 65px;
        background: transparent;
        --background: transparent;
      }
    }
    .search-icon {
      position: absolute;
      right: 11px;
      top: 17px;
      font-size: 26px
    }
  }
  .menu {
    text-align: center;
    margin-top: 5px;
    ion-icon {
      font-size: 18px;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 50px;
      padding: 5px;
    }
    p {
      color: #fff;
      font-size: 12px;
      margin: 0;
      margin-top: 5px;
      text-transform: uppercase;
    }
  }
}
.top-slider {
  // position: absolute;
  // z-index: 999;
  // top: 14%;
  // padding: 0px;

  position: absolute;
  width: 100%;
  z-index: 99;
  // top: 15%;
  margin-top: -12%;
}
ion-slides {
  height: 100%;
  width: 100%;
  // padding: 0 16px;

  .slide-item {
    position: relative;
    img {
      width: 100%;
      height: 90px;
    }
    h3 {
      font-size: 11px;
      position: absolute;
      bottom: 12px;
      z-index: 99;
      /* background: #fff; */
      text-align: center;
      padding: 10px 5px;
      width: 100%;
      text-transform: uppercase;
      color: #2f5a7b;
      font-weight:bold;
      display: flex;
      align-items: center;
      justify-content: center;
      background:rgba(255,255,255,0.7);
      margin: 0;
      // background: rgba(255, 255, 255, 0.71);
      height: 35px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical !important;
      overflow: hidden;
    }
  }
}

.swiper-slide {

    display: block;
  
    text-align: center;
    margin: 0 auto;

}

.swiper-slide img {
  max-height: 50%;
  max-width: 100% !important;
  margin: 0px 0px 0px;
  pointer-events: none;
  object-fit: cover;
}
.bottom-content {
  // margin-top: 8%;
  margin-top: 85px;
  padding: 16px;
  .title {
    margin: 20px 0;
    h3 {
      font-family: Braisetto-Bold;
      border-bottom: 2px dashed #2f5a7b;
      line-height: 52px;
      color: #2f5a7b;
      font-size: 36px;
    }
  }
  .featured {
    ion-slides {
      height: 100%;
      width: 100%;
      padding: 0 0px;
      ion-slide{
        width: auto!important;
        max-width: 22vh !important;
      
        
      }

      .slide-item {
        position: relative;
       
        img {
          width: 100%;
        }
        h3 {
          font-size: 12px;
          position: absolute;
          bottom: 15px;
          z-index: 99;
          // background: rgba(255, 255, 255, 0.71);
          text-align: center;
          padding: 8px 8px;
          width: 100%;
          text-transform: uppercase;
          // color: #2f5a7b;
          color: #fff;
          margin: 0;
          font-weight:bold;
          display: flex;
          align-items: center;
          justify-content: center;
          background:rgba(48,91,123,0.5);
          text-align: center;
          margin: 0 auto !important;
        }
      }
    }
  }
  .here-today {
    ion-slides {
      height: 100%;
      width: 100%;
      padding: 0 0px;
      .slide-item {
        position: relative;
        margin-bottom: 12px;
        img {
          width: 100%;
          height: 110px;
        }
        h3 {
          //  font-size: 10px;
          position: unset;
          bottom: 15px;
          z-index: 99;
          // background: rgba(255, 255, 255, 0.63);
          text-align: left;
          padding: 10px 5px;
          width: 100%;
          text-transform: uppercase;
          color: #2f5a7b;
          margin: 0;
          opacity: 1;
          font-weight: bold;
        }
        .price {
          margin: 0px;
          text-align: left;
          color: #2f5a7b;
          font-size: 12px;
          font-weight: bold;
          margin-left: 5px;
          margin-top: 5px;
        }
      }
    }
  }
}

.search-result-div {
  height: 250px;
  overflow-y: scroll;
  background: #fff;
  position: absolute;
  width: 100%;
  box-shadow: 0px 2px 18px 0px #a7a7a773;
  top: 0px;
  z-index: 9999;
}
.bottom-content-bg {
  background: #4db4b7 url("../../../assets/img/bg.png") no-repeat scroll;
  background-position: left top;
  background-size: cover;
  padding: 16px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  h3 {
    font-family: Braisetto-Bold;
    border-bottom: 2px dashed #fff;
    line-height: 52px;
    color: #fff;
    font-size: 34px;
    text-align: center;
  }
  ion-slides {
    padding: 0;
    ion-slide {
      display: block;
      width: 165px !important;
      // margin-right: 10px;
    }
  }
  .slide-item {
    ion-card {
      background: #fff;
      padding: 10px;
      margin: 0 10px 0 0;
      height: 140px;
      h1 {
        font-family: Braisetto-Bold;
        font-size: 30px;
        color: #4db4b7;
        margin: 0;
        margin-bottom: 12px;
      }
      h3 {
        font-size: 14px;
        position: relative;
        margin: 0;
        line-height: 12px;
        font-family: inherit;
        color: #4db4b7;
        font-weight: bold;
        padding: 0;
      }
      p {
        font-size: 11px;
        margin: 0;
        text-align: center;
        font-size: 11px;
        font-family: inherit;
        margin: 0;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }
    }
  }
}

.learn {
  margin-left: 92px;
  margin-top: 10px;
  width: 52%;
  padding: 11px;
  background: #e95962;
  border-radius: 9px;
  color: white;
  font-weight: 900;
  font-family: inherit;
  text-transform: uppercase;
  box-shadow: 4px 4px 6px #676767;
}

.slider_img_2 {
  margin-right: 2px;
  .slide-item {
    img {
      max-width: 100% !important;
      width: 100%;
      height: 110px !important;
      object-fit: cover;
    }
  }
}

// 20-01-2020
#main-page-top-slider .main_content_first {
  width: 100% !important;
  max-width: 170px;
  height: 150px !important;
}
#main-page-top-slider .main_content_first img {
  height: 150px;
}
.wrap_data_sec {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: #85a5b9
    url(https://thebritishcrafthouse.co.uk/wp-content/uploads/2020/06/comp-home-bg-1-1.png)
    bottom center/150% no-repeat scroll;
  padding-top: 20px;
  padding-bottom: 26px;
  margin-top: 16px;
  padding-left: 12px;
  padding-right: 12px;
}
.wrap_data_sec .title h3 {
  text-align: center;
  color: #fff !important;
  margin-top: 0;
  border-bottom: 2px dashed #fff;
}
.wrap_data_sec .title {
  margin-top: 0px !important;
}
.today_tommr h3 {
  text-align: center;
}

.feature_inner_sec {
  margin-top: 28px;
  margin-bottom: 28px;
}
.feature_dummy img {
  width: 100%;
  height: 107px;
  object-fit: cover;
  padding: 7px;
}
.feature_dummy {
  border: 2px dashed #49b6b6;
  height: 150px;
}
.feature_inner_text p {
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-bottom: 2px;
  margin-top: 2px;
}
.feature_inner_text h4 {
  margin-bottom: 0;
  font-size: 23px;
  text-align: center;
  color: #fff;
  font-family: Braisetto-Bold;
  margin-top: 5px;
}
.feature_inner_text {
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  padding: 0px 10px;
}
.img_inner_wrap {
  position: relative;
}
.img_inner_wrap:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 2px;
  left: 0;
  right: 0;
  background: #0000006e;
  width: 91%;
  margin: auto;
  height: 93px;


}
p.care_fully_sel {
  font-size: 11px;
  text-align: center;
  margin-top: 0;
  padding: 0px 3px;
}
//end
// .ion_slide_2 {
//   width: 170px !important;
// }
.custom-options-select{
  width: 100%;
  outline: none;
  position: absolute;
  right: 0;
  z-index: 9999;
  top: 55px;
  border: 2px dashed #fff;
  ul{
    padding-left: 0;
    margin:0;
    background: #fff;
    li{
      list-style: none;
      color: #888;
      font-size: 14px;
      line-height: 32px;
      padding: 5px 10px;
    }
  }
  .searchVisible{
    background-color: #4db4b7;
    color: white !important;
  }
}