<!-- <ion-header>
  <ion-toolbar>
    <div class="main-header">
      <ion-row>
        <ion-col size="10">
          <div class="logo-bar">
            <img src="assets/img/logo.webp" class="logo">
            <ion-searchbar mode="ios" placeholder="Search on The British Craft House"></ion-searchbar>
            <img src="assets/img/search.png" class="search-icon"/>
         </div>
        </ion-col>
        <ion-col size="2">
          <div class="menu">
            <ion-icon name="menu"></ion-icon>
            <p>Menu</p>
          </div>
        </ion-col>
      </ion-row>
      
   </div>
   <div class="top-slider">
    <ul>
      <li>
        <div class="slide-item">
          <img src="assets/img/s1.png"/>
          <h3>Home & interiors</h3>
        </div>
      </li>
      <li>
        <div class="slide-item">
          <img src="assets/img/s2.png"/>
          <h3>Home & interiors</h3>
        </div>
      </li>
      <li>
        <div class="slide-item">
          <img src="assets/img/s1.png"/>
          <h3>Home & interiors</h3>
        </div>
      </li>
    </ul>
  </div>
  </ion-toolbar>
</ion-header> -->
<ion-content padding>
  <div class="main-header">
    <ion-row>
      <ion-col size="10">
        <div class="logo-bar">
          <img src="assets/img/logo.webp" class="logo" />
          <ion-searchbar
            mode="ios"
            placeholder="Search on The British Craft House"
            searchIcon="none"
            [value]="searchInput"
            (ionInput)="onSearch($event.target.value)"
            (ionClear)="clearSearch()"
          
          >
          </ion-searchbar>
          <!-- <ion-select placeholder="Search on The British Craft House" class="custom-options-select" interface="popover" [interfaceOptions]="options">
            <ion-select-option value="Search Products">Search Products</ion-select-option>
            <ion-select-option value="Search by Shop">Search by Shop</ion-select-option>
          </ion-select> -->
          <div class="custom-options-select" *ngIf="isSearchShow">
            <ul>
              <li (click)="searchBy = 'product' ; isSearchShow = false;"  [ngClass]="{'searchVisible': searchBy === 'product'}">Search Products</li>
              <li (click)="searchBy = 'shop' ; isSearchShow = false; getVendors()" [ngClass]="{'searchVisible': searchBy === 'shop'}">Search by Shop</li>
            </ul>
          </div>
          <ion-icon name="arrow-dropdown" (click)="searchShow()" *ngIf="!searchInput.length" class="search-icon"></ion-icon>
           <!-- <img
            src="assets/img/search.png"
            *ngIf="!searchInput.length"
            class="search-icon"
          /> -->
        </div>
      </ion-col>
      <ion-col size="2">
        <div class="menu" (click)="openSidemenu()">
          <ion-icon name="menu"></ion-icon>
          <p>Menu</p>
        </div>
      </ion-col>
      <ion-col size="12" *ngIf="searchInput.length && searchBy == 'product'">
        <div class="search-result-div" *ngIf="searchProducts.length">
          <ion-item
            *ngFor="let prod of searchProducts"
            (click)="viewProduct(prod.id)"
          >
            <ion-thumbnail slot="start">
              <img [src]="prod.images[0].src" onerror="this.onerror=null;this.src='assets/img/noimage.png';" />
            </ion-thumbnail>
            <ion-label>{{prod.name}} 
              <p [innerHTML]="prod.price_html"></p>
            </ion-label>
          </ion-item>
        </div>
        <div class="search-result-div" *ngIf="!searchProducts.length">
          <ion-item>

          <ion-label
            >No Product Found
          </ion-label>
        </ion-item>
        </div>
      </ion-col>



       <ion-col size="12" *ngIf="searchInput.length && searchBy == 'shop' ">
        <div class="search-result-div" *ngIf="searchProducts.length">
          <ion-item
            *ngFor="let prod of searchProducts"
            (click)="viewProduct(prod.vendor_id)"
          >
            <ion-thumbnail slot="start">
              <img [src]="prod.vendor_shop_logo" onerror="this.onerror=null;this.src='assets/img/noimage.png';"/>
            </ion-thumbnail>
            <ion-label
              >{{prod.vendor_shop_name}}
              <p [innerHTML]="prod.vendor_display_name"></p>
            </ion-label>
          </ion-item>
        </div>
        <div class="search-result-div" *ngIf="!searchProducts.length">
          <ion-item>

          <ion-label
            >No Shop Found
          </ion-label>
        </ion-item>
        </div>
      </ion-col> 

    </ion-row>
  </div>
  <ion-refresher
    style="z-index: 999"
    slot="fixed"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <!-- <div style="height:100px" *ngIf="searchInput.length"></div> -->
  <ion-row class="top-slider" id="main-page-top-slider">
    <ion-col size="12">
      <ion-slides #itemSlide pager="false" [options]="slideOpts">
        <ion-slide *ngFor="let prod of slideRow" class="main_content_first">
          <div class="slide">
            <div class="slide-item" (click)="Onproduct(prod.slug)">
              <img [src]="prod?.image" />
              <h3 style="-webkit-box-orient: vertical; height: 36px">
                {{prod.title}}
              </h3>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <div class="bottom-content">
    <div class="wrap_data_sec">
      <div class="title">
        <h3>{{sliderName2}}</h3>
      </div>
      <div class="featured">
        <ion-slides #today pager="false" [options]="slideOpts2">
          <ion-slide *ngFor="let prod of slideRow2" class="ion_slide_2">
            <div class="slide slider_img_2">
              <div class="slide-item" (click)="Onproduct(prod.slug)">
                <img [src]="prod?.image" />
                <h3
                  [innerHtml]="prod?.title"
                  class="limit_text_sec"
                  style="-webkit-box-orient: vertical"
                ></h3>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </div>
    </div>
   
    <div class="title today_tommr" *ngIf="lastProducts.length">
      <h3>Here Today, Gone Tomorrow...</h3>
    </div>
    <div class="here-today" *ngIf="lastProducts.length">
      <ion-slides #today pager="false" [options]="slideOpts2">
        <ion-slide *ngFor="let prod of item" (click)="viewProduct(prod.id)">
          <div class="slide">
            <div class="slide-item">
              <img [src]="prod?.img"  />
              <h3
                class="main_pg_title"
                [innerHtml]="prod?.title"
                style="-webkit-box-orient: vertical; height: 36px"
              ></h3>
              <p class="price">
                £ <span [innerHTML]="prod?.regular_price"></span>
              </p>
            </div>
          </div>
        </ion-slide>
      </ion-slides>

      <ion-slides #today pager="false" [options]="slideOpts2">
        <ion-slide *ngFor="let prod of item2" (click)="viewProduct(prod.id)">
          <div class="slide">
            <div class="slide-item">
              <img [src]="prod?.img" />
              <h3
                class="main_pg_title"
                [innerHtml]="prod?.title"
                style="-webkit-box-orient: vertical"
              ></h3>
              <p class="price">
                £ <span [innerHTML]="prod?.regular_price"></span>
              </p>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <ion-row class="feature_inner_sec">
      <ion-col size="4" *ngFor="let prod of slideRow4">
        <div class="feature_dummy">
          <div class="img_inner_wrap" (click)="Onproduct(prod.slug)">
            <!-- src="https://thebritishcrafthouse.co.uk/wp-content/uploads/2020/06/shutterstock_1410961910-2-1.jpg" -->
            <img
             
              src="{{prod.image}}"
            />
            <div class="feature_inner_text" (click)="Onproduct(prod.slug)">
              <h4>{{prod.title}}</h4>
              <p>{{prod.subtitle}}</p>
              <!-- <p>Artisans</p> -->
            </div>
          </div>

          <p class="care_fully_sel">
            {{prod.description}}
          </p>
        </div>
      </ion-col>
     </ion-row>
      </div>

  <div class="bottom-content-bg">
    <div class="title">
      <h3>{{sliderName3}}</h3>
    </div>
    <div class="featured">
      <ion-slides #content pager="false" [options]="slideOpts3">
        <ion-slide *ngFor="let prod of slideRow3">
          <div class="slide">
            <div class="slide-item">
              <ion-card>
                <h1>{{prod.title}}</h1>
                <h3
                  [innerHTML]="prod?.subtitle"
                  style="text-align: center; display: block; height: auto"
                ></h3>
                <p
                  [innerHTML]="prod?.description"
                  style="-webkit-box-orient: vertical"
                ></p>
              </ion-card>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
      <button class="learn" (click)="learn()">Learn More</button>
    </div>
  </div>
</ion-content>
