<!--
  Generated template for the CartTab page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="" mode="md" text="Back" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center">
            {{ 'Cart' | translate }}
        </ion-title>
        <ion-buttons slot="end" (click)="openSidemenu()">
            <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
            <div class="menu">
                <ion-icon name="menu"></ion-icon>
                <p>Menu</p>
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngIf="isEmpty" class="empty">
        <img src="assets/img/cart.png" />
        <h3>{{ 'Cart_is_empty' | translate }}</h3>
        <ion-button round (click)="goHome()">{{ 'Let_us_shopping' | translate }}</ion-button>
    </div>
    <div>
        <div *ngFor="let item of cart; let i = index" class="div-cart-item">
            <ion-row class="div-product">
                <ion-col size="4">
                    <img src="{{item.thumb}}" />
                </ion-col>
                <ion-col size="8">
                    <div margin-left>
                        <div class="content_wrap" text-wrap>
                            {{item.name}}
                        </div>
                        <div class="remov-ptoduct" text-wrap>
                            <ion-icon ios="ios-remove-circle" md="md-remove-circle" (click)="showConfirmAlert(item)"></ion-icon>

                        </div>
                        <div class="text-sm">
                            <span color="gray">{{ item.variation_name }}</span>
                        </div>
                        <div padding-bottom padding-top>
                            <span class="amount_sec" [innerHTML]="appConfig.Shop_Currency_format+formatPrice(item.subtotalprice)"></span>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="input-qty">
                                <span class="btn">
                                    <ion-icon ios="ios-remove" md="md-remove" (click)="subQuantity(item.product_id)" *ngIf="item.quantity > 1"></ion-icon>
                                    <ion-icon name="remove-outline" *ngIf="item.quantity < 2"></ion-icon>
                                </span>
                                <input type="text " [(ngModel)]="item.quantity " (click)="inputNum(i)" type="readonly " readonly />
                                <span class="btn ">
                  
                  <ion-icon ios="ios-add" md="md-add" (click)="addQuantity(item.product_id)"></ion-icon>
                </span>
                                <div class="clear "></div>
                            </div>
                            <div class="pull-right bottom-info text-sm trash-btn ">
                                <ion-icon name="trash " color="danger " (click)="showConfirmAlert(item); " class="pull-right "></ion-icon>
                                <div class="clear "></div>
                            </div>
                        </div>
                    </div>
                </ion-col>
                <!-- <ion-col size="12 " class="select_cart_sec ">
                    <ion-item class="ion-no-padding shipping_data ">
                        <ion-label (click)="hide() ">
                            <h4>Shipping Options</h4>
                        </ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-select placeholder="Select Option" [(ngModel)]="item.selectedShippingId" mode='ios' #C (ionChange)="shippingChnage(item)">
                            <ion-select-option value="{{data.id}}" *ngFor="let data of item.shippingData; let i = index">
                                {{data.title}}
                            </ion-select-option>

                        </ion-select>
                    </ion-item>
                    <ion-item *ngIf="none " lines="none " class="ion-no-padding shipping_amt ">
                        <ion-label>Shipping</ion-label>
                        <p *ngIf="item.selectedShipping ">
                            £{{formatPrice(cart[i].shippingData.shipping_details.shipping_rule_cost)}}
                        </p>
                    </ion-item>
                </ion-col> -->
            </ion-row>
        </div>
        <div *ngIf="!isEmpty">
            <ion-row>
                <ion-col size="12 " class="select_cart_sec ">
                    <ion-item class="ion-no-padding shipping_data ">
                        <ion-label (click)="hide() ">
                            <h4>Shipping Options</h4>
                        </ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-select placeholder="Select Option" [(ngModel)]="selectShippingId" mode='ios' #C (ionChange)="shippingChnage(selectShippingId)">
                            <ion-select-option value="{{data.id}}" *ngFor="let data of shippingData; let i = index">
                                {{data.title}} &#163;{{data.shipping_rule_cost}}
                            </ion-select-option>

                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div class="placehold "></div>
</ion-content>
<ion-footer class="cart-footer ">
    <ion-toolbar *ngIf="showPrice ">
        <div class="span ">
            <span color="gray ">{{ 'Amount' | translate }}:</span>
            <span class="bold " color="danger ">
      <b [innerHTML]="appConfig.Shop_Currency_format "></b>£{{
        productAmount}} </span >
          <span color="gray ">{{ 'Shipping' | translate }}:</span>
            <span class="bold " color="danger ">
        <b [innerHTML]="appConfig.Shop_Currency_format "></b>£{{
            shippingAmount}} </span >
            <span color="gray ">{{ 'Total' | translate }}:</span>
            <span class="bold " color="danger ">
        <b [innerHTML]="appConfig.Shop_Currency_format "></b>£{{
            totalAmount}}</span
      >
    </div>
  
  </ion-toolbar>
  <ion-buttons slot="end " class="checkout_btn ">
    <ion-button [disabled]="!cart || cart.length==0 " (click)="checkout() ">
      {{ 'CHECKOUT' | translate }}
    </ion-button>
  </ion-buttons>
</ion-footer>