app-page-cart {
    .cart-footer {
        ion-button {
            background: #4db4b7;
            color: #fff;
            --color-activated: #4db4b7 !important;
            --color-focused: #4db4b7 !important;
            font-size: 14px;
            padding: 0px 10px;
            width: 100%;
        }
    }
    ion-content {
        background: #e4e9ee !important;
    }
    .div-cart-item {
        margin-bottom: 10px;
    }
    .card,
    .cart .card {
        background: #ffffff;
    }
    .card:first-child {
        margin-top: 0px;
    }
    .card .card-header,
    .card .card-footer,
    .cart .card .card-header,
    .cart .card .card-footer {
        background: #fbfbfb;
    }
    .placehold {
        height: 100px;
    }
    .card .card-footer div,
    .cart .card .card-footer div {
        margin: 5px 0;
    }
    .trash-btn {
        margin-top: 6px;
        font-size: 2rem !important;
    }
    .cart-footer {
        background: #fbfbfb;
        border-top: 1px solid #ebebec;
        padding-left: 12px;
        padding-right: 12px;
        position: absolute;
        bottom: 1em;
    }
    .div-product {
        background-color: white;
        display: flex;
        align-items: center;
        padding: 10px;
        max-width: 95%;
        width: 100%;
        margin: auto;
        margin-top: 12px;
        // padding-left: 0;
        box-shadow: 3px 3px 6px #e8e8e8;
        // box-shadow: 0px 0px 6px #e8e8e8;
        border-radius: 4px;
        ion-select {
            // border: 1px solid #b5b5b5;
            // height: 38px;
            // border-radius: 3px;
        }
        h3 {
            font-size: 14px;
            margin-top: 10px;
        }
    }
    .div-product img {
        height: 100px;
        width: 100%;
    }
    .cart-footer ion-title {
        position: absolute;
        padding-left: 16px;
        left: 0;
        font-weight: normal;
    }
    .cart-footer ion-title .toolbar-title {
        text-align: left;
        padding-left: 0;
    }
    .btn-add-cart,
    .btn-add-cart.activated {
        background: #fee3e1;
        color: #fff;
        --background: #4db4b7;
    }
    .input-qty {
        display: inline-block;
        border-top: 1px solid #ebebec;
        border-bottom: 1px solid #ebebec;
        margin-top: 5px;
    }
    .input-qty .btn {
        border-left: 1px solid #ebebec;
        border-right: 1px solid #ebebec;
        padding: 6px 12px;
        float: left;
        color: #fff;
        background: #4db4b7;
    }
    .input-qty input {
        padding: 6px;
        float: left;
        border: none;
        text-align: center;
        max-width: 64px;
    }
    .item-md ion-thumbnail img {
        width: 8rem;
        height: 8rem;
    }
    .item-wp ion-thumbnail img {
        width: 8rem;
        height: 8rem;
    }
    .item-ios ion-thumbnail img {
        width: 5.6rem;
        height: 5.6rem;
    }
    .empty {
        text-align: center;
        padding: 50px;
    }
    .pull-left {
        float: left;
    }
    .pull-right {
        float: right;
    }
    ion-list.list-full-border .item,
    ion-list.list-full-border .item:first-child,
    ion-list.list-full-border .item:last-child {
        border-bottom: 1px solid #ebebec;
    }
    .text-lg {
        font-size: 1.2em;
    }
    .text-sm {
        font-size: 0.6em;
    }
    .clear {
        clear: both;
    }
    .item.no-border .item-inner {
        border: none;
    }
    .main-header {
        background: #4db4b7 url("../../../assets/img/bg.png") no-repeat scroll;
        background-position: left top;
        background-size: cover;
        padding: 16px;
        // height: 86px !important;
        ion-row {
            ion-col {
                padding-left: 0;
            }
        }
        .logo-bar {
            position: relative;
            .logo {
                position: absolute;
                top: 10px;
                z-index: 999;
                width: 50px;
                left: 10px;
            }
            img.search-icon {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 20px;
            }
        }
        .menu {
            text-align: center;
            margin-top: 5px;
            ion-icon {
                font-size: 18px;
                color: #fff;
                border: 2px solid #fff;
                border-radius: 50px;
                padding: 5px;
            }
            p {
                color: #fff;
                font-size: 13px;
                margin: 0;
                margin-top: 5px;
                text-transform: uppercase;
                font-family: Gill-Sans-MT-Light;
                letter-spacing: 1px;
            }
        }
    }
    ion-toolbar {
        --background: transparent;
        background: transparent;
        ion-title {
            font-family: Braisetto-Bold;
            font-size: 40px;
            color: #fff;
            padding-left: 0px;
        }
        ion-back-button {
            --color: #fff !important;
            font-family: Gill-Sans-MT-Light;
            letter-spacing: 1px;
            --padding-start: 0 !important;
            span.button-text {
                font-family: Gill-Sans-MT-Light;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }
    ion-button {
        --background: #4db4b7;
        box-shadow: 0px 2px 6px #cecece;
        --border-radius: 8px;
        border-radius: 8px;
    }
    .amount_sec {
        color: #4db4b7;
    }
    .content_wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap !important;
    }
    .checkout_btn ion-button {
        border-radius: 6px;
        // box-shadow: 4px 4px 6px #676767;
    }
    .select_cart_sec {
        margin-top: 20px;
        border: 1px dashed #c9ebec;
        padding: 12px;
        ion-item {
            --padding-start: 0;
            --inner-padding-end: 0;
            ion-select {
                width: 100%;
                max-width: 100%;
                padding-left: 0;
                font-size: 14px;
                color: #636363;
            }
        }
        ion-label {
            // font-size: 15px;
            // font-weight: 600;
        }
    }
    p.select_shipping {
        margin: 0;
        background: #4db4b721;
        text-align: center;
        padding: 10px;
        color: #4db4b7;
        font-weight: 600;
    }
    .shipping_amt p {
        color: #4db4b7;
        font-size: 18px;
        font-weight: 700;
    }
    .footer-ios ion-toolbar:first-child {
        --border-width: 0 0 0 !important;
    }
    span.bold {
        color: #4db4b7;
        font-weight: 600;
        margin-left: 8px;
    }
    .main_select_div {
        width: 100%;
        max-width: 100%;
    }
    .shipping_data {
        ion-label {
            margin-top: 0;
            margin-bottom: 0;
            h4 {
                font-weight: 600;
                margin-bottom: 12px;
                font-size: 16px;
            }
            p {
                font-size: 13px !important;
                padding-bottom: 8px;
            }
        }
        ion-icon[name="create"] {
            position: relative;
            bottom: 12px;
            color: #4db4b7;
        }
    }
    ion-buttons.checkout_btn.sc-ion-buttons-ios-h.sc-ion-buttons-ios-s.ios.hydrated {
        justify-content: center;
        width: 100%;
        margin-bottom: 1em;
    }
    .span span {
        font-size: 1.07em;
    }
}

.remov-ptoduct {
    position: absolute;
    right: 1em;
    top: .4em;
}