<!--
  Generated template for the VendorList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="danger">

        <ion-searchbar [(ngModel)]="searchInput" placeholder="Search" showCancelButton=true (search)="myOnSearch()"
            (ionClear)="onClear()">
        </ion-searchbar>
        <ion-buttons slot="end">
            <ion-button (click)="onSearch()">{{ 'Search' | translate }}</ion-button>
        </ion-buttons>
    </ion-toolbar>


</ion-header>
<ion-content class="commonbg">
    <div *ngIf="noResult" class="empty">
        <h3>{{ 'No_Results' | translate }}</h3>
    </div>
    <ion-list *ngIf="noResult==false">
        <ion-item *ngFor="let vendor of vendors" (click)="vendorSelected(vendor)" detail>
            <ion-avatar slot="start">
                <img src="{{vendor.avatar_url!=false?vendor.avatar_url:'assets/img/store_place_hold.png'}}">
            </ion-avatar>
            <ion-label text-wrap>
                <ion-text>{{ vendor.store_name }}</ion-text>
                <ion-text>
                    <p *ngIf="vendor.first_name!='' && vendor.last_name!=''" class='shop-user-text'>
                        {{ vendor.first_name+''+ vendor.last_name}}'{{ 'Vendor_Shop' | translate }}</p>

                </ion-text>

            </ion-label>

        </ion-item>

    </ion-list>
</ion-content>