app-page-country {
    ion-header {
        ion-toolbar{
            ion-title {
                text-align: center;
                padding-right: 0;
                line-height: 54px;
                position: relative;
                top: 6px;
            }
        }
    }
    ion-item-group {
        margin-top: 20px;
    }
}
