<!--
  Generated template for the Country page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-icon name="close" (click)="close()"></ion-icon>
            <!-- <ion-back-button mode="md" text="Back" icon="arrow-back" ></ion-back-button> -->
        </ion-buttons>
     <ion-title mode="ios" class="ion-text-center">{{ 'Select_Country' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item-group *ngFor="let gCountry of countries">
        <ion-item-divider>
            {{gCountry.group}}
        </ion-item-divider>
        <ion-item *ngFor="let country of gCountry.Countries" (click)="selCountry(country.fn)">{{country.fn}}
            <ion-icon *ngIf="selectedCountry==country.fn" name="checkmark" item-right></ion-icon>
        </ion-item>
    </ion-item-group>
</ion-content>