<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header_new">
    <ion-toolbar>
        <ion-buttons slot="start">
          <!-- *ngIf="isModelShow"  -->
            <ion-back-button mode="md" text="Back" icon="arrow-back"></ion-back-button>
            <p (click)="onskip()" class="skip_text">Skip >></p>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center">
            Forget Password
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="login">
    <ion-grid class="header ion-no-padding">
        <!-- <img src="assets/img/bg.png" class="cover_bg"> -->
        <form [formGroup]="RequestResetForm">
            <ion-row class="logo_img">
                <ion-col size="12">
                    <img src="assets/img/logo.webp" class="logo-img">
                </ion-col>
            </ion-row>
            <ion-col size="12" class="forms_data">
              <div class="form-group">
                <ion-item class="ion-no-padding">
                  <ion-icon name="ios-mail"></ion-icon>
                 
                  <ion-input
                    formControlName="email"
                    placeholder="Email"
                    type="email"
                    id="email"
                  >
                  </ion-input>
                </ion-item>
              </div>
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.email">
                  <div
                    class="error-message"
                    *ngIf="RequestResetForm.get('email').hasError(error.type) && (RequestResetForm.get('email').touched)"
                  >
                    {{ error.message }}
                  </div>
                  
                </ng-container>
              </div>
            </ion-col>
            <ion-col size="12" class="btn_sec ion-text-center">
              <ion-button (click)="RequestResetUser()">Submit</ion-button>
              <!-- <ion-button (click)="signin()">SignIn</ion-button> -->
             
            </ion-col>
          </form>
        <!-- <ion-row class="btn_sec">
            <ion-col size="12">
                <ion-button (click)="doLogin()">Sign_In</ion-button>
            </ion-col>
        </ion-row> -->



    </ion-grid>
</ion-content>