
  .main-header_new {
    background: #4db4b7 url("/assets/img/bg.png")  no-repeat scroll ;
    background-position: left top;
    background-size: cover;
    padding: 16px;
    // height: 86px !important;
  }

  ion-toolbar {
    --background: transparent;
    background: transparent;
    ion-title {
      font-family: Braisetto-Bold;
      font-size: 32px;
      color: #fff;
      padding-left: 0px;
      padding-right: 0;
    }
    ion-back-button {
      --color: #fff !important;
      font-family: Gill-Sans-MT-Light;
      letter-spacing: 1px;
      --padding-start:0 !important;
      span.button-text {
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }

  .logo-img{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 130px;
    height: auto;
    width: 100%;
    margin-top: 1rem;
}
.btn_sec {
  width: 100%;
  display: block;
  ion-button {
  max-width: 70%;
  width: 100%;
  margin: auto;
  margin-top: 22px;
  --background: #4ab6b6;
  --border-radius: 10px;
  }
}

.header {
  display: table;
  width: 100%;
  height: 100%;
}
.header form {
  width: 96%;
  margin: auto;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.forms_data {
    display: block;
    max-width: 90% !important;
    width: 100% !important;
    margin: auto;
    ion-icon[name="ios-mail"] {
      color: #4ab6b6;
      margin-right: 12px;
  }
}
p.skip_text {
  color: #fff;
}
.skip_text:focus {
  outline: 0;
}
.error-message{
  color:red
}

.error-messages {
  position: relative;
  margin-top: 8px;
  font-size: 14px;
  margin-bottom: 8px;
}