// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
  font-family: Braisetto-Thin;
  src: url(./assets/fonts/Braisetto-Thin.ttf);
}
@font-face {
  font-family: Braisetto-Bold;
  src: url(./assets/fonts/Braisetto-Bold.otf);
}
@font-face {
  font-family: Braisetto-Black;
  src: url(./assets/fonts/Braisetto-Black.otf);
}
@font-face {
  font-family: Braisetto-Regular;
  src: url(./assets/fonts/Braisetto-Regular.otf);
}

@font-face {
  font-family: Gill-Sans-MT-Light;
  src: url(./assets/fonts/Gill-Sans-MT-Light.woff);
}
@font-face {
  font-family: Gill-Sans-MT-Medium;
  src: url(./assets/fonts/Gill-Sans-MT-Medium.woff);
}
@font-face {
  font-family: Gill-Sans-MT-Ultra-Bold;
  src: url(./assets/fonts/Gill-Sans-MT-Ultra-Bold.woff);
}
@font-face {
  font-family: Gill-Sans-MT-Bold;
  src: url(./assets/fonts/Gill-Sans-MT-Bold.woff);
}

ion-menu {
  background: transparent !important;
  background-size: contain;
  background-position-x: 15rem;
}

ion-menu .menu-inner {
  background: #fd5459 !important;
  overflow-y: scroll;
}

ion-menu .outer-content {
  background: #fd5459 !important;
}

ion-menu .outer-content ion-list-header {
  color: #ffb5b9;
}

ion-menu .outer-content ion-label {
  font-size: 1.8rem;
}

ion-menu .outer-content ion-icon {
  font-size: 2rem;
  color: #fff;
  padding-right: 1rem;
}

ion-menu .outer-content .item {
  background: transparent;
  color: #fff;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

.hide_tab .tabbar {
  display: none;
}

.commonbg {
  background: #e4e9ee !important;
}

.test-modal {
  height: 120px;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  overflow: hidden;
  border-radius: 5px !important;
}

ion-modal.add-to-cart-popup {
  @media (min-width: 300px) and (min-height: 480px) {
    ion-backdrop {
      visibility: visible;
    }
  }

  .modal-wrapper {
    position: absolute;
    overflow: hidden;
    border-radius: 2px;
    width: 100%;
    //top: 50%;
    //top: 300px;
    height: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    background-color: #fafafa;
  }
}
.logo-bar {
  ion-searchbar {
    border: 3px dashed #4db4b7;
    background: #fff;
    --border-radius: 0px;
    height: 60px;
    border-radius: 0;
    input.searchbar-input {
      font-size: 12px;
      padding-inline-start: 54px !important;
    }
    .searchbar-input-container.sc-ion-searchbar-ios {
      height: 65px;
      background: transparent;
      --background: transparent;
    }
  }
}



.product-detail-slider {
  ion-slide.swiper-slide img {
    width: 100% !important;
    object-fit: cover !important;
  }
}

ion-header {
  ion-toolbar {
    --background: #4db4b7 !important;
    toolbar-background {
      --background: #4db4b7 !important;
    }
    ion-title {
      color: #fff !important;
    }
  }
}
ion-menu-button {
  color: #fff;
}
ion-back-button {
  color: #fff;
}

.main-header {
  ion-toolbar {
    ion-title {
      color: #fff;
      font-size: 32px !important;
      font-family: Braisetto-Bold;
      padding-right: 0;
      padding-left: 0;
    }
    .md.title-md {
      position: absolute;
      left: 0;
      right: 0;
      top: 14px;
      bottom: 0;
      margin: auto;
      text-align: center;
      padding: 0;
      --padding-top: 15px !important;
      line-height: 45px;
    }
  }
}
.menu-side-end {
  ion-icon {
    color: #4db4b7;
    margin-right: 10px;
  }
  ion-header {
    ion-toolbar {
      text-align: center;
      ion-title {
        padding-right: 0;
        line-height: 56px;
        position: relative;
        top: 8px;
      }
    }
  }
}

ion-back-button {
  color: #fff !important;
}

.header-md:after {
  background: transparent !important;
}

.limit_text_sec {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
}

@supports (-webkit-touch-callout: none) {
  //   /* CSS specific to iOS devices */
  //   ion-header {
  //     padding-top: 35px;
  //   }
  ion-app {
    background: #4db4b7;
    padding-top: constant(safe-area-inset-top); //for iOS 11.2
    padding-top: env(safe-area-inset-top); //for iOS 11.1
  }
  //   // app-add-song, app-setting, app-sign-in, app-sign-up {
  //     // ion-header {
  //     //   padding-top: 0px !important;
  //     // }
  //   // }
  //     ion-footer, ion-tab-bar {
  //       padding-bottom: 35px;
  //     }
}

body {
  padding-top: constant(safe-area-inset-top); //for iOS 11.2
  padding-top: env(safe-area-inset-top); //for iOS 11.1
}
.toolbar-footer {
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}
// .ios.main-header {
//   height: 16%;
//   }

// 01-02-2021
.ios .menu-side-end .header-ios ion-toolbar ion-title {
  padding-right: 0;
  top: 0 !important;
  padding-left: 0 !important;
}
.header-md {
  .md.title-md {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
  }
}
.main-header {
  .menu {
    text-align: center;
    margin-top: 5px;
    ion-icon {
      font-size: 18px;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 50px;
      padding: 5px;
    }
    p {
      color: #fff;
      font-size: 12px;
      margin: 0;
      margin-top: 5px;
      text-transform: uppercase;
    }
  }
}
.header-ios ion-toolbar {
  --border-width: 0 !important;
}
////////
//////@at-

//darkmode css
.dark {
  ion-content {
    --background: #000 !important;
  }
  .bottom-content .title h3 {
    border-bottom: 2px dashed #fff !important;
    color: #fff !important;
  }
  .limit_text_sec {
    padding: 10px 5px !important;
  }
  // .bottom-content .here-today ion-slides .slide-item h3 {
  //   background: transparent !important;
  //   color: #fff !important;
  // }
  p.price {
    color: #fff !important;
    margin-top: 8px !important;
  }
  .menu-side-end ion-list {
    background: transparent !important;
  }
  .menu-side-end ion-item {
    --background: transparent;
    color: #fff !important;
    border-bottom: 1px solid #fff;
  }
  .content .products .product-item h3 {
    color: #fff !important;
  }
  .empty h3 {
    color: #fff !important;
  }
  .query .form-group ion-item {
    --border-radius: 4px;
  }
  .faq_listing ion-list {
    background: #000 !important;
  }
  .acc1 {
    color: #fff !important;
    font-weight: 400 !important;
  }
  .faq_listing ion-card {
    border-bottom: 1px solid #fff;
    border-radius: 0px !important;
  }
  .faq_listing ion-card ion-card-content {
    color: #a0a0a0 !important;
  }
  .login .user_list {
    background: transparent !important;
  }
  .login .user_list ion-item {
    --background: transparent !important;
    border-bottom: 1px solid #fff !important;
    color: #fff !important;
  }
  .content .products .product-item h3 {
    color: #fff !important;
  }
  .vendor {
    color: #fff !important;
  }
  .product_details_sec h3 {
    color: #fff;
  }
  .product_details_sec b {
    color: #fff;
  }
  p#prod-desc {
    color: #fff;
    font-size: 14px;
  }
  ion-list#desc {
    background: transparent !important;
  }
  .description {
    color: #d2d2d2 !important;
  }
  .main_pg_title {
    background: transparent !important;
    color: #fff !important;
  }
  .content_learn h5 {
    color: #fff !important;
  }
  .content_learn p {
    color: #b1b1b1 !important;
  }
  .div-product {
    box-shadow: 0px 0px 6px #e8e8e8;
    border-radius: 4px;
  }
  .checkout_bg {
    background: transparent !important;
  }
  .checkout_bg .form-group ion-item {
    --background: transparent !important;
    color: #fff !important;
  }
  .checkout_bg .item-radio-checked {
    --background: transparent !important;
    color: #fff;
  }
  .checkout_bg ion-radio-group ion-item {
    --background: transparent;
    color: #fff;
  }
  #payment-form .top_up ion-input {
    // color: #fff !important;
  }
  #payment-form .top_up p {
    color: #fff !important;
  }
  #payment-form label.label_pay {
    color: #fff;
  }
  .settings {
    background: transparent !important;
    border: 0;
  }
  .settings ion-list {
    background: transparent !important;
  }
  .settings ion-list ion-item {
    --background: transparent !important;
    color: #fff;
    border-bottom: 1px solid;
  }
  #payment-form .top_up p {
    color: #fff !important;
  }
  #payment-form .top_up ion-input#payment-amount {
    background: #fff !important;
    color: #000 !important;
  }
  div#card-element {
    // padding-left: 8px;
    background: #fff !important;
  }
}
.dark {
  .sorting {
    ion-select {
      color: #fff !important;
    }
  }
}
//end
body.dark{
  p.care_fully_sel{
    color: #fff !important;
  }
}