<!--
  Generated template for the Checkout page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button
        defaultHref=""
        mode="md"
        text="Back"
        icon="arrow-back"
       
      ></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" class="ion-text-center">
      {{ 'Checkout' | translate }}
    </ion-title>
    <!-- <ion-buttons slot="end" (click)="openSidemenu()">
   
      <div class="menu">
        <ion-icon name="menu"></ion-icon>
        <p>Menu</p>
      </div>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="commonbg">
  <ion-list class="checkout_bg">
    <ion-item-group>
      <ion-item-divider>{{ 'Shipping_Address' | translate }}</ion-item-divider>
      <form [formGroup]="shippingAddress">
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'First_Name' | translate }}"
              formControlName="first_name"
            ></ion-input>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.first_name">
            <div
              class="error-message"
              *ngIf="shippingAddress.get('first_name').hasError(error.type) && (shippingAddress.get('first_name').dirty || shippingAddress.get('first_name').touched)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'Last_Name' | translate }}"
              formControlName="last_name"
            >
            </ion-input>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.last_name">
            <div
              class="error-message"
              *ngIf="shippingAddress.get('last_name').hasError(error.type) && (shippingAddress.get('last_name').dirty || shippingAddress.get('last_name').touched)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-input
              type="email"
              placeholder="{{ 'Email' | translate }}"
              formControlName="email"
            >
            </ion-input>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.email">
            <div
              class="error-message"
              *ngIf="shippingAddress.get('email').hasError(error.type) && (shippingAddress.get('email').dirty || shippingAddress.get('email').touched  || shippingAddress.get('email').pattren)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-input
              type="tel"
              placeholder="{{ 'Phone' | translate }}"
              formControlName="phone"
            >
            </ion-input>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.phone">
            <div
              class="error-message"
              *ngIf="shippingAddress.get('phone').hasError(error.type) && (shippingAddress.get('phone').dirty || shippingAddress.get('phone').touched || shippingAddress.get('phone').minlength || shippingAddress.get('phone').maxlength)"
            >
              {{ error.message }}
            </div>
            
           
          </ng-container>

            
        </div>
        <div class="form-group">
          <ion-item>
            <ion-select
              [selectedText]="companyFormSelected('shipping')"
              (ionChange)="getStatesOfCountry('shipping')"
              formControlName="country"
            >
              <ion-select-option
                *ngFor="let country of countries"
                value="{{ country.name }}"
              >
                {{ country.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.country">
            <div
              class="error-message"
              *ngIf="shippingAddress.get('country').hasError(error.type) && (shippingAddress.get('country').dirty || shippingAddress.get('country').touched)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'Address1' | translate }}"
              formControlName="address_1"
            >
            </ion-input>
          </ion-item>
        </div>

        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.address_1">
            <div
              class="error-message"
              *ngIf="shippingAddress.get('address_1').hasError(error.type) && (shippingAddress.get('address_1').dirty || shippingAddress.get('address_1').touched)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'Address2' | translate }}"
              formControlName="address_2"
            >
            </ion-input>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'State' | translate }}"
              formControlName="state"
            >
            </ion-input>
          </ion-item>
        </div>
        <!-- <div class="form-group">
          <ion-item *ngIf="!states.length">
            <ion-input
              type="text"
              placeholder="{{ 'State' | translate }}"
              formControlName="state"
            >
            </ion-input>
          </ion-item>
          <ion-item *ngIf="states.length">
            <ion-select
              (ionChange)="getCitiesOfState('shipping')"
              formControlName="state"
              placeholder="{{ 'State' | translate }}"
            >
              <ion-select-option
                *ngFor="let state of states"
                value="{{ state.name }}"
              >
                {{ state.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div> -->
                <div class="form-group">
                  <ion-item>
                    <ion-input
                      type="text"
                      placeholder="{{ 'Town_City' | translate }}"
                      formControlName="city"
                    >
                    </ion-input>
                  </ion-item>
                </div>
        <!-- <div class="form-group">
          <ion-item *ngIf="!cities.length">
            <ion-input
              type="text"
              placeholder="{{ 'Town_City' | translate }}"
              formControlName="city"
            >
            </ion-input>
          </ion-item>
          <ion-item *ngIf="cities.length">
            <ion-select
              formControlName="city"
              placeholder="{{ 'Town_City' | translate }}"
            >
              <ion-select-option
                *ngFor="let city of cities"
                value="{{ city.name }}"
              >
                {{ city.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div> -->
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'Post_Code' | translate }}"
              formControlName="postcode"
            >
            </ion-input>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.postcode">
            <div
              class="error-message"
              *ngIf="shippingAddress.get('postcode').hasError(error.type) && (shippingAddress.get('postcode').dirty || shippingAddress.get('postcode').touched || shippingAddress.get('postcode').pattern  )"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </form>
    </ion-item-group>
    <ion-item-divider>
      <ion-label>Billing Address(Same as Shipping)</ion-label>
      <ion-checkbox
        color="dark"
        [(ngModel)]="sameAddress"
        item-right
        (ionChange)="addressSame()"
      ></ion-checkbox>
    </ion-item-divider>

    <ion-item-group *ngIf="sameAddress==false">
      <form [formGroup]="billingAddress">
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'First_Name' | translate }}"
              formControlName="first_name"
            ></ion-input>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.first_name">
            <div
              class="error-message"
              *ngIf="billingAddress.get('first_name').hasError(error.type) && (billingAddress.get('first_name').dirty || billingAddress.get('first_name').touched)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'Last_Name' | translate }}"
              formControlName="last_name"
            >
            </ion-input>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.last_name">
            <div
              class="error-message"
              *ngIf="billingAddress.get('last_name').hasError(error.type) && (billingAddress.get('last_name').dirty || billingAddress.get('last_name').touched)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-input
              type="email"
              placeholder="{{ 'Email' | translate }}"
              formControlName="email"
            >
            </ion-input>
          </ion-item>
        </div>

        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.email">
            <div
              class="error-message"
              *ngIf="billingAddress.get('email').hasError(error.type) && (billingAddress.get('email').dirty || billingAddress.get('email').touched  || billingAddress.get('email').pattren)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-input
              type="tel"
              placeholder="{{ 'Phone' | translate }}"
              formControlName="phone"
            >
            </ion-input>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.phone">
            <div
              class="error-message"
              *ngIf="billingAddress.get('phone').hasError(error.type) && (billingAddress.get('phone').dirty || billingAddress.get('phone').touched || billingAddress.get('phone').minlength || billingAddress.get('phone').maxlength)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-select
              [selectedText]="companyFormSelected('billing')"
              (ionChange)="getStatesOfCountry('billing')"
              formControlName="country"
            >
              <ion-select-option
                *ngFor="let country of countries"
                value="{{ country.name }}"
              >
                {{ country.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.country">
            <div
              class="error-message"
              *ngIf="billingAddress.get('country').hasError(error.type) && (billingAddress.get('country').dirty || billingAddress.get('country').touched)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'Address1' | translate }}"
              formControlName="address_1"
            >
            </ion-input>
          </ion-item>
        </div>

        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.address_1">
            <div
              class="error-message"
              *ngIf="billingAddress.get('address_1').hasError(error.type) && (billingAddress.get('address_1').dirty || billingAddress.get('address_1').touched)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'Address2' | translate }}"
              formControlName="address_2"
            >
            </ion-input>
          </ion-item>
        </div>

        <div class="form-group">
          <ion-item *ngIf="!billingStates.length">
            <ion-input
              type="text"
              placeholder="{{ 'State' | translate }}"
              formControlName="state"
            >
            </ion-input>
          </ion-item>
          <ion-item *ngIf="billingStates.length">
            <ion-select
              placeholder="{{ 'State' | translate }}"
              (ionChange)="getCitiesOfState()"
              formControlName="state"
            >
              <ion-select-option
                *ngFor="let state of billingStates"
                value="{{ state.name }}"
              >
                {{ state.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.state">
            <div
              class="error-message"
              *ngIf="billingAddress.get('state').hasError(error.type) && (billingAddress.get('state').dirty || billingAddress.get('state').touched)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <div class="form-group">
          <ion-item *ngIf="!billingCities.length">
            <ion-input
              type="text"
              placeholder="{{ 'Town_City' | translate }}"
              formControlName="city"
            >
            </ion-input>
          </ion-item>
          <ion-item *ngIf="billingCities.length">
            <ion-select
              placeholder="{{ 'Town_City' | translate }}"
              formControlName="city"
            >
              <ion-select-option
                *ngFor="let city of billingCities"
                value="{{ city.name }}"
              >
                {{ city.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.city">
            <div
              class="error-message"
              *ngIf="billingAddress.get('city').hasError(error.type) && (billingAddress.get('city').dirty || billingAddress.get('city').touched)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
        <div class="form-group">
          <ion-item>
            <ion-input
              type="text"
              placeholder="{{ 'Post_Code' | translate }}"
              formControlName="postcode"
            >
            </ion-input>
          </ion-item>
        </div>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.postcode">
            <div
              class="error-message"
              *ngIf="billingAddress.get('postcode').hasError(error.type) && (billingAddress.get('postcode').dirty || billingAddress.get('postcode').touched || billingAddress.get('postcode').pattern)"
            >
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </form>
    </ion-item-group>
    <!-- <ion-radio-group [(ngModel)]="selShipMethod">
      <ion-list-header>
        <ion-label>{{ 'Shipping_Method' | translate }}</ion-label>
      </ion-list-header>
      <ion-item
        *ngFor="let shipmethod of appConfig.Shop_Shipping;let i = index"
      >
        <ion-label
          >{{shipmethod.title}}({{shipmethod.cost}}<span
            [innerHTML]="appConfig.Shop_Currency_format"
          ></span
          >)</ion-label
        >
        <ion-radio checked="true" [value]="i"></ion-radio>
      </ion-item>
      <div class="error-message" *ngIf="message">
        Please Choose Shipping Method
      </div>
    </ion-radio-group> -->
  </ion-list>

  <ion-button
    Expand="full"
    (click)="payStripe()"
    >{{ 'Pay_Via_Stripe' | translate }}
  </ion-button>
</ion-content>
<ion-footer> </ion-footer>
