app-page-checkout{
  .btns_sec{
    text-align: center;
    ion-button {
      max-width: 70%;
      width: 100%;
      margin: auto;
      margin-bottom: 16px;
      --background: #4ab6b6;
      --border-radius: 10px;
    }
  }
  .commonbg {
    ion-item-divider {
      ion-checkbox {
        margin-left: 12px;
      }
    }
   }
   ion-list.ios {
    margin-top: 10px;
  }
  ion-item{
    ion-select {
      width: 100%;
      max-width: 100%;
      padding-left: 0 !important;
  }
  }
  .main-header {
      background: #4db4b7 url("../../../assets/img/bg.png")  no-repeat scroll ;
      background-position: left top;
      background-size: cover;
      padding: 16px;
      height: 86px !important;
      ion-row {
        ion-col {
          padding-left: 0;
        }
      }
      .logo-bar {
        position: relative;
        .logo {
          position: absolute;
          top: 10px;
          z-index: 999;
          width: 50px;
          left: 10px;
        }
       
        img.search-icon {
          position: absolute;
          right: 20px;
          top: 20px;
          width: 20px;
        }
      }
      
      .menu {
        text-align: center;
        margin-top: 5px;
        ion-icon {
          font-size: 18px;
          color: #fff;
          border: 2px solid #fff;
          border-radius: 50px;
          padding: 5px;
        }
        p {
          color: #fff;
          font-size: 13px;
          margin: 0;
          margin-top: 5px;
          text-transform: uppercase;
          font-family: Gill-Sans-MT-Light;
          letter-spacing: 1px;
        }
      }
   
    }
    
       ion-toolbar {
      --background: transparent;
      background: transparent;
      ion-title {
        font-family: Braisetto-Bold;
        font-size: 40px;
        color: #fff;
        padding-left: 0px;
      }
      ion-back-button {
        --color: #fff !important;
        font-family: Gill-Sans-MT-Light;
        letter-spacing: 1px;
        --padding-start:0 !important;
        span.button-text {
          font-family: Gill-Sans-MT-Light;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }
    }
    
    ion-item-divider{
       --background: #4db4b7 ;
   
     
       color: #fff;
    }
    ion-button{
      --background: #4db4b7 ; 
     
     
      color: #fff; 
    }
    ion-list-header{
  
     
      color: #fff;
      --background: #4db4b7 ; 
    }
    .error-message{
      color: red;
      padding-left: 15px;
      font-size: 14px;
      letter-spacing: 0.6px;
   }
   .main-header.ios.header-ios{
     ion-toolbar{
       ion-title{
         padding-right: 0;
       }
     }
   }
   .form-group{
    ion-item.item.md {
      border-bottom: 1px solid #ddd;
      margin-bottom: 1px;
  }
   }
  
}

.list-ios{
  margin-bottom: 8px;
}
