<!--
  Generated template for the Faq page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header main-header_new">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button defaultHref="" mode="md" text="Back" icon="arrow-back" (click)="close()"></ion-back-button>
        </ion-buttons>
        <ion-title mode="ios" class="ion-text-center"> FAQ </ion-title>
        <ion-buttons slot="end" (click)="openSidemenu()">
            <!-- <ion-button (click)="goToSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button> -->
            <div class="menu">
                <ion-icon name="menu"></ion-icon>
                <p>Menu</p>
            </div>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<!-- <ion-segment  [(ngModel)]="type" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="buyer" checked>
      <ion-label>Buyer FAQ</ion-label>
    </ion-segment-button>
    <ion-segment-button value="seller">
      <ion-label>Seller FAQ</ion-label>
    </ion-segment-button>
  </ion-segment> -->
<ion-content>


    <div class="faq_listing">
        <ion-list>
            <ion-card>
                <ion-card-header (click)="buyer('0')">
                    <ion-row>
                        <ion-col size="10" class="acc1">
                            How do I contact the seller?
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon name="ios-arrow-down"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="isActive == '0'">
                    Any questions regarding a shop item should be made directly to the
                    Seller. Go to the shop page and there is an “Ask a Question" button.
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header (click)="buyer('1')">
                    <ion-row>
                        <ion-col size="10" class="acc1">
                            Can you explain how I check out?
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon name="ios-arrow-down"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="isActive == '1'">
                    After your item is added to your basket you will be asked to enter
                    your Country & Postcode – this allows us to know which country you are
                    in and what shipping options to offer you. You press update. You are
                    then given a drop down menu where you select your preferred shipping
                    for your item and press update to select. You will then be taken to
                    the payment page where you enter your full address and payment
                    details.
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header (click)="buyer('2')">
                    <ion-row>
                        <ion-col size="10" class="acc1">
                            When will my item arrive?
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon name="ios-arrow-down"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="isActive == '2'">
                    <p>
                        For delivery and dispatch times please refer to the individual shop
                        policies.
                    </p>
                    <p>
                        If you are unsure, please contact the seller directly from the “Ask
                        a Question" button in their shop.
                    </p>
                    <p>
                        Many items on TBCH are made to order, just for you, and can take up
                        to a few weeks to make. Please check you are happy with the dispatch
                        times before ordering. Also be aware that dispatch times for these
                        items may increase during seasonal busy periods.
                    </p>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header (click)="buyer('3')">
                    <ion-row>
                        <ion-col size="10" class="acc1">
                            Can I search for a specific shop?
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon name="ios-arrow-down"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="isActive == '3'">
                    Yes, in the ‘Buy’ section at the foot of the website you can select
                    ‘Shop List’ On a PC you can search on the left hand side of your
                    screen – on a mobile you scroll down.
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header (click)="buyer('4')">
                    <ion-row>
                        <ion-col size="10" class="acc1"> How do I leave Feedback? </ion-col>
                        <ion-col size="2">
                            <ion-icon name="ios-arrow-down"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="isActive == '4'">
                    You go to the page of the product that you bought and then scroll
                    down. You will see reviews at the bottom. If you click on that then
                    you can leave a review for that specific product. If your product is
                    one of a kind and no longer in the shop you can leave a whole shop
                    review. To do this you go to the ‘Review’ section on the shop’s front
                    page.
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header (click)="buyer('5')">
                    <ion-row>
                        <ion-col size="10" class="acc1">
                            How do I cancel, return, exchange an item or ask for a refund?
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon name="ios-arrow-down"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="isActive == '5'">
                    <p>
                        If you are not entirely satisfied with your order, you have 28 days
                        from the date of purchase to cancel, return or exchange your item.
                        All items must be returned to the seller in the UK. Please see
                        Refund section for a list of non-returnable items.
                    </p>
                    <p>Please refer to our Returns page for more information.</p>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header (click)="buyer('6')">
                    <ion-row>
                        <ion-col size="10" class="acc1">
                            I haven’t received my order yet?
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon name="ios-arrow-down"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="isActive == '6'">
                    <p>
                        If you haven’t received your item after a few days (UK) or 14 days
                        (international) please contact the seller directly from the “
                        contact” button in their shop.
                    </p>
                    <p>
                        If you do not hear from the seller within 3 days of contacting them,
                        please email us at <a>help@thebritishcrafthouse.co.uk</a> and we
                        will do our best to help.
                    </p>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header (click)="buyer('7')">
                    <ion-row>
                        <ion-col size="10" class="acc1">
                            I can see an item but can’t seem to purchase it!
                        </ion-col>
                        <ion-col size="2">
                            <ion-icon name="ios-arrow-down"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="isActive == '7'">
                    There are a number of possible reasons why you cannot proceed to
                    purchase.
                    <ol>
                        <li>
                            You have not filled out all the mandatory information boxes, so
                            your order won’t submit.
                        </li>
                        <li>Seller does not ship to your address outside the UK</li>
                        <li>
                            The seller is on holiday and the shop is set to holiday mode.
                        </li>
                    </ol>
                    If you are unsure please use the “Ask a Question" button in their
                    shop. If you are having problems feel free to email us at
                    <a>help@thebritishcrafthouse.co.uk</a> and we will be able to help
                    you.
                </ion-card-content>
            </ion-card>
        </ion-list>
        <!-- <ion-list *ngSwitchCase="'seller'">
      <ion-card>
        <ion-card-header (click)="seller('0')">
          <ion-row>
            <ion-col size="10" class="acc1">
              What is The British Craft House?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '0'">
          TBCH is an application only platform where makers, artists and
          artisans selling the Best of British Handmade can sell their designs.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('1')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Where is The British Craft House located?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '1'">
          TBCH is situated on the South Coast in Hampshire, overlooking the
          Solent and just 5 minutes walk from the beach.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('2')">
          <ion-row>
            <ion-col size="10" class="acc1">
              How long has The British Craft House existed?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '2'">
          TBCH Website platform launched on November 1st 2019 but “British
          Crafters” has existed since 2013 offering free advice, networking and
          paid promotion to crafters with amazing, award winning success. Social
          media presence as a result is over 120K across all platforms.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('3')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Who can sell on The British Craft House?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '3'">
          This platform is only for sellers from the United Kingdom only, but
          shipping Worldwide.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('4')">
          <ion-row>
            <ion-col size="10" class="acc1">
              What is your pricing structure?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '4'">
          We have 3 packages. They start at £10 pcm and this includes a
          customisable shop front, unique url, access to a private network
          group, fully integrated check out system, a blog, statistics as well
          as access to Marketing/PR tips. For £25 pcm you get in addition to
          this promotion on social media, for £75 you get access to direct email
          marketing, social media and feature spots on the website. A table with
          full details will be available on application.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('5')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Can I swap between the different packages?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '5'">
          You can upgrade and downgrade on the monthly packages at any time and
          you can upgrade from a monthly to an annual package. Annual packages
          attract 2 months free and we ask for a commitment of a year from you
          for us to do this. If you are in doubt as to what to sign up for, the
          advice would be to start on the monthly subscription as this leaves
          the options to you more flexible at the start.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('6')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Who can buy on The British Craft House?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '6'">
          Anyone can buy! Some sellers offer shipping worldwide, but not all, so
          please check the Shipping profiles of an individual shop before
          purchasing.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('7')">
          <ion-row>
            <ion-col size="10" class="acc1"> How do I get paid? </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '7'">
          Payments are paid to you by Stripe (this can take up to 7 days) You
          will receive the cost of the order with commission and Stripe
          processing fees automatically deducted.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('8')">
          <ion-row>
            <ion-col size="10" class="acc1">
              What can I sell on The British Craft House.
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '8'">
          We are on the look-out for unique designs, something a bit different,
          a gift idea that would show the recipient how much the gift giver
          cared. We want to provide a site with a diverse range of art and craft
          styles, both traditional and modern.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('9')">
          <ion-row>
            <ion-col size="10" class="acc1">
              What can’t I sell on The British Craft House?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '9'">
          You can’t sell vintage or 2nd hand items unless significantly up
          cycled so as not to resemble the original item. You cannot sell items
          that are subject to copyright and any infringement will result in a
          shop being unpublished. You cannot sell “assembled” items. By this we
          mean anything that does not have a handmade design element attached to
          it that makes it unique to you. You cannot sell supplies. You can’t
          set up a shop as a co-operative or for 3rd party sellers.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('10')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Can I sell Digital Downloads?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '10'">
          We are not currently set up to enable you to sell digital downloads.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('11')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Do my prices need to be the same as they are on other platforms?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '11'">
          We ask that you keep your prices consistent with other outlets that
          you sell on.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('12')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Can I import my items via CSV from Etsy or elsewhere?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '12'">
          No. This is a deliberate decision as Google indexes shop information,
          descriptions, photos etc and if you duplicate your shop then it will
          ignore it when searching for SEO. We ask that you see it as an
          opportunity to look at your items wording (content is key), your SEO,
          Keywords and also that you make the most of the 8 photos that you can
          upload for each listing so that your item is showed off as best as it
          can.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('13')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Are there Stats for me to view?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '13'">
          Yes, you will be able to view your shop statistics on your sellers
          dashboard.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('14')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Can I list items with variations?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '14'">
          Yes. you have the option to add multiple variations to your shop
          items.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('15')">
          <ion-row>
            <ion-col size="10" class="acc1"> Do you have an app? </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '15'">
          Not yet but it is currently being built!
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('16')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Can I put my shop into holiday mode?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '16'">
          You have multiple options here. You can set Vacation mode and hide
          your items from view, so customers will only see your shop banner and
          name. You can set Vacation mode where your items can be seen but are
          not available to purchase. Finally you can also choose to have a
          notice with a warning of extended delivery times. In this case your
          items will still be available to buy.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('17')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Can I open and manage my shop from a phone?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '17'">
          There is functionality to do various actions on your phone but not
          possible for the entire process to be completed easily. We would
          always suggest that for the optimum setting up experience that you
          would use a PC.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('18')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Can I sell custom makes, personalised items?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '18'">
          Yes, we really like gifts that are made special for our customers!
          There is a box for a customer to fill in the details before check out
          so that you get the details with the order.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('19')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Do I have to sign up for a minimum time?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '19'">
          No, we recognise that circumstances change and you are free to close
          your shop at any time if you feel you need to. Your shop becomes
          disabled when you cancel your subscription. Only in exceptional
          circumstances would an annual subscription be considered for a partial
          refund.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('20')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Is there a limit to how many items I can have in my shop and do I
              need to relist them?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '20'">
          Your package dictates how many items you can have, you can add
          variations into 1 listing though. Your items do not expire.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('21')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Can I have more than one shop on TBCH?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '21'">
          Yes you can have multiple shops as long as they are accepted at the
          Application stage.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('22')">
          <ion-row>
            <ion-col size="10" class="acc1">
              How do I cancel my membership?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '22'">
          You can find your membership details in your front-end dashboard ->
          profile. You can cancel your recurring subscription from here.
          Cancelling your shop cancels your direct debit. Your shop will become
          disabled.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('23')">
          <ion-row>
            <ion-col size="10" class="acc1">
              How do I upgrade my membership?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '23'">
          You can find your membership details in your dashboard -> profile. You
          can upgrade your membership here.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('24')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Do I have to comply with GDPR?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '24'">
          Yes, it is a mandatory requirement to have GDPR included in your Shop
          Policy section.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header (click)="seller('25')">
          <ion-row>
            <ion-col size="10" class="acc1">
              Do you have Guest Check Out?
            </ion-col>
            <ion-col size="2">
              <ion-icon name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngIf="isShow  == '25'">
          Our payment gateway requires a valid customer account which protects
          us and you with GDPR and other privacy matters.
        </ion-card-content>
      </ion-card>
    </ion-list> -->
    </div>
</ion-content>